<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Push Notification</title>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<style type="text/css">
.row {
	margin: 15px 0 0 0;
}

input[type=text], input[type=number] {
	width: 200px;
}

table {
	border: 1px solid #ccc;
}

#sendMessageTo div {
	background-color: #f5f5dc;
	margin: 5px;
	padding: 15px;
	border-radius: 20px;
}

#sendMessageTo div:hover {
	background-color: #dcdcdc;
	color: #fff;
}
</style>
</head>
<body style="background-color: rgb(245, 247, 250);">
	<div class="row">
		<header class="col-md-12">
			<h1 class="brand pull-left h3">Push notification</h1>
		</header>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<span id="searchArea">
				<span style="margin-right: 20px;">User ID</span>
				<input type="text" name="userId" id="userId" style="margin-right: 20px;" placeholder="Please enter user id to search">
			</span>
			<span style="margin-left: 20px;">
				<input type="checkbox" id="sendToAll">
				<label for="sendToAll">Send to everyone</label>
			</span>
		</div>
	</div>
	
	<section id="resultArea">
		<div class="row">
			<div class="col-md-12">
				<h2 class="h5">Search Results</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped table-hover" style="border-bottom: 1px solid grey;">
					<thead id="tableHead">
						<tr class="info">
							<th>
								<h2 class="h5 text-center">
									<input type="checkbox" id="selectAll">
								</h2>
							</th>
							<th>
								<h2 class="h5 text-center">NO</h2>
							</th>
							<th>
								<h2 class="h5 text-center sortable" id="userId">User ID</h2>
							</th>
							<th>
								<h2 class="h5 text-center sortable" id="nickName">Nickname</h2>
							</th>
							<th>
								<h2 class="h5 text-center sortable" id="loginTypeCd">Login Type</h2>
							</th>
							<th>
								<h2 class="h5 text-center sortable" id="userRegDate">Sign up Date</h2>
							</th>
						</tr>
					</thead>
					
					<tbody id="userData">
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row text-center">
			<nav aria-label="Page navigation" id="pagingArea">
				
			</nav>
		</div>
		
	</section>
	
	<div class="row">
		<div class="col-md-12">
			<span style="margin-right: 20px;">Message Contents</span>
			<input type="text" name="notificationMessage" id="notificationMessage" placeholder="Please enter notification content" style="width: 400px; margin-right: 20px;">
			<a href="#" class="btn btn-primary" id="doSend">Send</a>
			<a href="#" class="btn btn-primary" id="doSendToAll" style="display: none;">Send To Everyone</a>
		</div>
	</div>
	
	<div class="row" id="sendMessageArea" style="margin-bottom: 30px;">
		<div class="col-md-12">
			<span class="h5">Send message to:</span>
		</div>
		<div id="sendMessageTo">
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript">
	$(function() {
		$('#userId').focus();
		loadUserData('%', null);
		
		$('#userId').keyup(function() {
			var sort = null;
			
			var ascHead = $('#tableHead .asc');
			var descHead = $('#tableHead .desc');
			
			if(ascHead.length > 0) {
				sort = $('#tableHead .asc').parent().attr('id') + ',asc';
			} else if(descHead.length > 0) {
				sort = $('#tableHead .desc').parent().attr('id') + ',desc';
			}
			
			loadUserData($(this).val(), sort);
		});
		
		function loadUserData(userId, sort) {
			$.get({
				url: '/goalkeepinmanager/rewardPayment/searchUserList/1',
				data: {
					userId: userId,
					sort: sort
				},
				dataType: 'json',
				success: function(data) {
					console.log(data);
					var pageData = data.page.pageData;
					var pageNum = data.page.pageNum;
					var pageSize = data.page.pageSize;
					
					addSortLink(data);
					
					if(pageData.length > 0) {
						var getUrl = '/goalkeepinmanager/rewardPayment/searchUserList/';
						
						processTableData(pageData, pageNum, pageSize);
						processPagination(data, getUrl, sort);
						tableEffect();
					} else {
						$('#userData').empty();
						var row = '<tr class="text-center"><td colspan="6">No Data Found</td></tr>';
						$('#userData').append(row);
						$('#pagingArea').empty();
					}
				}, error: function() {
					alert('Error searching users');
				}
			});
		}
		
		function addSortLink(data) {
			var sortField = data.sortField;
			var sortOrder = data.sortOrder;
			
			if(data.page.totalRecordNum > 1) {
				$('.table .sortable').each(function() {
					$(this).css({'cursor': 'pointer', 'color': '#3A7FBA'});
					
					var sortSymbol;
					if(sortField == null || sortField != $(this).attr('id')) {
						sortSymbol = $('<span class="originalSort">&#11109;</span>').css({'marginLeft': '10px'});
					} else {
						if(sortOrder == 'asc') {
							sortSymbol = $('<span class="asc" style="color: green;">&#11014;</span>').css({'marginLeft': '10px'});
						} else {
							sortSymbol = $('<span class="desc" style="color: red;">&#11015;</span>').css({'marginLeft': '10px'});
						}
					}
					$(this).find('span').remove();
					$(this).append(sortSymbol);
				});
				
				$('.table .sortable').off('click').click(function(e) {
					if($(this).has('span.asc').length > 0) {
						loadUserData($('#userId').val(), $(this).attr('id') + ',desc');
					} else {
						loadUserData($('#userId').val(), $(this).attr('id') + ',asc');
					}
				});
			}
		}
		
		function processTableData(pageData, pageNum, pageSize) {
			$('#userData').empty();
			
			var selectedUserNos = [];
			$('#sendMessageTo div').each(function(index, ele) {
				var userNo = parseInt($(ele).attr('id').substring(5));
				selectedUserNos.push(userNo);
			});
			
			// table data
			for(var i=0; i<pageData.length; i++) {
				var row = '<tr class="text-center"><td>';
				if($.inArray(pageData[i].userNo, selectedUserNos) != -1) {
					row += '<input type="checkbox" value="' + pageData[i].userNo + '" checked="checked">';
				} else {
					row += '<input type="checkbox" value="' + pageData[i].userNo + '">';
				}
				row += '</td><td>';
				row += (parseInt(pageNum) - 1) * pageSize + (i + 1);
				row += '</td><td>';
				row += pageData[i].userId;
				row += '</td><td>';
				row += pageData[i].nickName;
				row += '</td><td>';
				row += pageData[i].loginTypeCd;
				row += '</td><td>';
				row += pageData[i].userRegDate;
				row += '</td></tr>';
				
				$('#userData').append(row);
			}
			
			var checkboxCount = $('#userData input[type=checkbox]').length;
			var checkedCheckboxCount = $('#userData input[type=checkbox]:checked').length;
			$('#selectAll').prop('checked', checkboxCount == checkedCheckboxCount);						
		}
		
		function processPagination(data, getUrl, sort) {
			$('#pagingArea').empty();
			var currentPageNum = data.page.pageNum;
			var totalPageNum = data.page.totalPageNum;
			
			if(totalPageNum > 0) {
				var pagination = '<ul class="pagination" id="pagination">';
				
				if(totalPageNum > 10 && currentPageNum == 1) {
					pagination += '<li class="page-item"><a class="page-link">&lt;&lt;</a></li>';
				}
				
				if(totalPageNum > 10 && currentPageNum > 1) {
					pagination += '<li class="page-item">';
					pagination += '<a style="cursor: pointer" class="page-link" ';
					pagination += 'id="page-1">'
					pagination += '&lt;&lt;</a></li>';
				}
				
				if(currentPageNum == 1) {
					pagination += '<li class="page-item"><a class="page-link">&lt;</a></li>';
				}
				
				if(currentPageNum > 1) {
					pagination += '<li class="page-item">';
					pagination += '<a style="cursor: pointer" class="page-link" ';
					pagination += 'id="page-' + (currentPageNum - 1) + '">'
					pagination += '&lt;</a></li>';
				}
				
				for(var i=data.page.firstPageNum; i<=data.page.lastPageNum; i++) {
					pagination += '<li class="page-item page-no';
					if(data.page.pageNum == i) {
						pagination += ' active';
					}
					pagination += '">';
					pagination += '<a style="cursor: pointer" class="page-link"';
					pagination += ' id="page-' + i + '"';
					pagination += '>';
					pagination += i;
					pagination += '</a>';
					pagination += '</li>';
				}
				
				if(currentPageNum == totalPageNum) {
					pagination += '<li class="page-item"><a class="page-link">&gt;</a></li>';
				}
				
				if(currentPageNum < totalPageNum) {
					pagination += '<li class="page-item">';
					pagination += '<a style="cursor: pointer" class="page-link" ';
					pagination += 'id="page-' + (currentPageNum + 1) + '">'
					pagination += '&gt;</a></li>';
				}
				
				if(totalPageNum > 10 && currentPageNum == totalPageNum) {
					pagination += '<li class="page-item"><a class="page-link">&gt;&gt;</a></li>';
				}
				
				if(totalPageNum > 10 && currentPageNum < totalPageNum) {
					pagination += '<li class="page-item">';
					pagination += '<a style="cursor: pointer" class="page-link" ';
					pagination += 'id="page-' + totalPageNum + '">'
					pagination += '&gt;&gt;</a></li>';
				}
				
				pagination += '</ul>';
				
				$('#pagingArea').append(pagination);
				
				$('.pagination a[id]').click(function() {
					var id = $(this).attr('id');
					// id: page-xxx
					var pageNum = id.substring(5);
					$.getJSON(getUrl + pageNum,
						{
							userId: $('#userId').val() == '' ? '%' : $('#userId').val(),
							sort: sort
						},
						function(data) {
							addSortLink(data);
							processTableData(data.page.pageData, data.page.pageNum, data.page.pageSize);
							processPagination(data, getUrl, sort);
							tableEffect();
						}
					);
				});
			}
		}
		
		function tableEffect() {
			$('#userData tr').css('cursor', 'pointer')
			.click(function() {
				var checkbox = $(this).find('input');
				checkbox.prop('checked', !checkbox.prop('checked'));
				
				var userNo = $(this).children().eq(0).children('input').val();
				var userId = $(this).children().eq(2).text();
				
				if(checkbox.prop('checked')) {
					var closeKey = $('<span class="close">x</span>');
					var userItem = $('<div>').addClass('col-md-5').attr('id', 'item-' + userNo).text(userId);
					userItem.append(closeKey);
					userItem.appendTo($('#sendMessageTo'));
					
					$('#sendMessageTo').find('.close').click(function() {
						var userNo = $(this).parent().attr('id').substring(5);
						$('#userData input[value=' + userNo + ']').prop('checked', false);
						if($('#userData input[value=' + userNo + ']').length == 1) {
							$('#selectAll').prop('checked', false);	
						}
						$(this).parent().remove();
					});
					
					var checkboxCount = $('#userData input[type=checkbox]').length;
					var checkedCheckboxCount = $('#userData input[type=checkbox]:checked').length;
					if(checkboxCount == checkedCheckboxCount) {
						$('#selectAll').prop('checked', true);						
					}
				} else {
					$('#item-' + userNo).remove();
					$('#selectAll').prop('checked', false);						
				}
			});
			
			$('#userData input').click(function(e) {
				e.stopPropagation();
			});
			
			$('#userData input[type=checkbox]').change(function() {
				if($('#userData input[type=checkbox]:checked').length == 0) {
					$('#selectAll').prop('checked', false);
				}
				
				var userNo = $(this).val();
				var userId = $(this).parent().next().next().text();
				
				if($(this).prop('checked')) {
					var closeKey = $('<span class="close">x</span>');
					var userItem = $('<div>').addClass('col-md-5').attr('id', 'item-' + userNo).text(userId);
					userItem.append(closeKey);
					userItem.appendTo($('#sendMessageTo'));
					
					$('#sendMessageTo').find('.close').click(function() {
						var userNo = $(this).parent().attr('id').substring(5);
						$('#userData input[value=' + userNo + ']').prop('checked', false);
						if($('#userData input[value=' + userNo + ']').length == 1) {
							$('#selectAll').prop('checked', false);	
						}
						$(this).parent().remove();
					});
					
					var checkboxCount = $('#userData input[type=checkbox]').length;
					var checkedCheckboxCount = $('#userData input[type=checkbox]:checked').length;
					if(checkboxCount == checkedCheckboxCount) {
						$('#selectAll').prop('checked', true);						
					}
					
				} else {
					$('#item-' + userNo).remove();
					$('#selectAll').prop('checked', false);
				}
			});
		}
		
		$('#selectAll').change(function() {
			var isChecked = $(this).is(':checked');
			if(isChecked) {
				$('#userData input:not(:checked)').each(function() {
					var userNo = $(this).val();
					var userId = $(this).parent().next().next().text();
					var closeKey = $('<span class="close">x</span>');
					var userItem = $('<div>').addClass('col-md-5').attr('id', 'item-' + userNo).text(userId);
					userItem.append(closeKey);
					userItem.appendTo($('#sendMessageTo'));
					
					$('#sendMessageTo').find('.close').click(function() {
						var userNo = $(this).parent().attr('id').substring(5);
						$('#userData input[value=' + userNo + ']').prop('checked', false);
						if($('#userData input[value=' + userNo + ']').length == 1) {
							$('#selectAll').prop('checked', false);	
						}
						$(this).parent().remove();
					});
				});
			} else {
				$('#userData input:checked').each(function() {
					$('#item-' + $(this).val()).remove();
				});
			}
			
			$('#userData input').prop('checked', isChecked);
		});
		
		$('#doSend').click(function() {
			
			var checkedUserCount = $('#sendMessageTo div').length;
			
			if(checkedUserCount == 0) {
				alert('Please select user to send push notification.');
				return;
			}
			
			var notificationMessage = $('#notificationMessage').val();
			
			if(notificationMessage == '') {
				alert('Please enter notification content.');
				$('#notificationMessage').focus();
				return;
			}
			
			if(confirm('Are you sure to send the notification message?')) {
				
				var userNos = [];
				$('#sendMessageTo div').each(function() {
					var userNo = $(this).attr('id').substring(5);
					userNos.push(userNo);
				});
				
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				
				$.ajax({ url: '/goalkeepinmanager/pushNotification/sendingPushNotification',  
					 data: {
						 userNos: userNos.join(','),
						 notificationMessage: notificationMessage
		 			 },  
					 method: "POST",  
					 dataType: "text", 
					 beforeSend : function(xhr) {
					    xhr.setRequestHeader(header, token);
						}
					 })
				 .done(function(json) { 
					 alert('Push notification processed successfully.')
					 $('#notificationMessage').val('');
				 })
				 .fail(function() {
					 alert('Error sending push notification.');
				 });
			}
		});
		
		$('#sendToAll').change(function() {
			var checked = $(this).prop('checked');
			if(checked) {
				$('#resultArea').hide();
				$('#sendMessageArea').hide();
				$('#doSend').hide();
				$('#searchArea').hide();
				
				$('#doSendToAll').show().click(function() {
					
					var notificationMessage = $('#notificationMessage').val();
					
					if(notificationMessage == '') {
						alert('Please enter notification content.');
						return;
					}
					
					if(confirm('Are you sure to send the notification message to all users?')) {
						var token = $("meta[name='_csrf']").attr("content");
						var header = $("meta[name='_csrf_header']").attr("content");
						
						$.ajax({ url: '/goalkeepinmanager/pushNotification/sendingPushNotificationToAll',  
							data: {
								notificationMessage: notificationMessage
							},
							 method: "POST",  
							 dataType: "text", 
							 beforeSend : function(xhr) {
							    xhr.setRequestHeader(header, token);
								}
							 })
						 .done(function(json) { 
							 alert('Push notification processed successfully.')
							 $('#notificationMessage').val('');
						 })
						 .fail(function() {
							 alert('Error sending push notification.');
						 });
					}
				});
			} else {
				$('#searchArea').show();
				$('#resultArea').show();
				$('#sendMessageArea').show();
				$('#doSend').show();
				$('#doSendToAll').hide()
			}
		});
	});
	
	</script>
</body>
</html>