<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Offer Detail</title>
<link rel="stylesheet" href="../../../bootstrap.css">
<style type="text/css">
.waiting {
	color: red;
}

.voting {
	color: green;
}

.voted {
	color: blue;
}

.row {
	margin: 15px 0 0 0;
}

h2 + span, h2 + div {
	margin-left: 30px;
}

h2 + div {
	border: 2px solid grey;
	min-height: 80px;
	padding: 5px;
}

#offerTitle input {
	width: 100%;
}
</style>
</head>
<body>
	<div class="row">
		<header class="col-md-12">
			<h1>챌린지 제안 생성</h1>
		</header>
	</div>
	
	<form method="post" th:action="@{/offer/processOfferCreation}" th:object=${offer}>
		<input type="hidden" name="offerNo" th:field="*{offerNo}" />
		<input type="hidden" name="offerStatusCd" th:field="*{offerStatusCd}" />
		
		<div class="row" th:if="*{offerStatusCd != null}">
			<div class="col-md-3">
				<h2 class="h4">유저 아이디</h2>
				<span th:text="*{user.userId}"></span>
			</div>
			<div class="col-md-3">
				<h2 class="h4">닉네임</h2>
				<span th:text="*{user.nickName}"></span>
			</div>
		</div>
		
		<div class="row" id="offerTitle">
			<div class="col-md-4">
				<h2 class="h4">주제(영문)</h2>
				<input type="text" name="offerTitleEn" th:if="*{offerStatusCd == null}" placeholder="주제" required="required" />
				<input type="text" name="offerTitleEn" th:if="*{offerStatusCd == 'VO01'}" th:value="*{offerTitle}" placeholder="주제" required="required" />
				<span th:if="*{offerStatusCd == 'VO02' or offerStatusCd == 'VO03'}" th:text="*{offerTitleEn}"></span>
			</div>
			<div class="col-md-4">
				<h2 class="h4">주제(번체)</h2>
				<input type="text" name="offerTitleTc" th:if="*{offerStatusCd == null}" placeholder="주제" required="required" />
				<input type="text" name="offerTitleTc" th:if="*{offerStatusCd == 'VO01'}" th:value="*{offerTitle}" placeholder="주제" required="required" />
				<span th:if="*{offerStatusCd == 'VO02' or offerStatusCd == 'VO03'}" th:text="*{offerTitleTc}"></span>
			</div>
			<div class="col-md-4">
				<h2 class="h4">주제(간체)</h2>
				<input type="text" name="offerTitleSc" th:if="*{offerStatusCd == null}" placeholder="주제" required="required" />
				<input type="text" name="offerTitleSc" th:if="*{offerStatusCd == 'VO01'}" th:value="*{offerTitle}" placeholder="주제" required="required" />
				<span th:if="*{offerStatusCd == 'VO02' or offerStatusCd == 'VO03'}" th:text="*{offerTitleSc}"></span>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10">
				<h2 class="h4">인증 방법 제안(영문)</h2>
				<textarea name="offerAuthInfoEn" th:if="*{offerStatusCd == null}" rows="6" style="width: 100%;" placeholder="인증방법 제안" required="required"></textarea>
				<textarea name="offerAuthInfoEn" th:if="*{offerStatusCd == 'VO01'}" th:text="*{offerAuthInfo}" rows="6" style="width: 100%;" placeholder="인증방법 제안" required="required"></textarea>
				<div th:if="*{offerStatusCd == 'VO02' or offerStatusCd == 'VO03'}" th:text="*{offerAuthInfoEn}"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10">
				<h2 class="h4">인증 방법 제안(번체)</h2>
				<textarea name="offerAuthInfoTc" th:if="*{offerStatusCd == null}" rows="6" style="width: 100%;" placeholder="인증방법 제안" required="required"></textarea>
				<textarea name="offerAuthInfoTc" th:if="*{offerStatusCd == 'VO01'}" th:text="*{offerAuthInfo}" rows="6" style="width: 100%;" placeholder="인증방법 제안" required="required"></textarea>
				<div th:if="*{offerStatusCd == 'VO02' or offerStatusCd == 'VO03'}" th:text="*{offerAuthInfoTc}"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10">
				<h2 class="h4">인증 방법 제안(간체)</h2>
				<textarea name="offerAuthInfoSc" th:if="*{offerStatusCd == null}" rows="6" style="width: 100%;" placeholder="인증방법 제안" required="required"></textarea>
			<textarea name="offerAuthInfoSc" th:if="*{offerStatusCd == 'VO01'}" th:text="*{offerAuthInfo}" rows="6" style="width: 100%;" placeholder="인증방법 제안" required="required"></textarea>
			<div th:if="*{offerStatusCd == 'VO02' or offerStatusCd == 'VO03'}" th:text="*{offerAuthInfoSc}"></div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-3" th:if="*{offerStatusCd != null}">
				<h2 class="h4">상태</h2>
				<span th:if="*{offerStatusCd == 'VO01'}" th:text="'대기중'" class="waiting"></span>
				<span th:if="*{offerStatusCd == 'VO02'}" th:text="'투표중'" class="voting"></span>
				<span th:if="*{offerStatusCd == 'VO03'}" th:text="'투표 완료'" class="voted"></span>
			</div>
			<div class="col-md-3" th:if="*{offerStatusCd != null}">
				<h2 class="h4">좋아요</h2>
				<span th:text="*{offerLikeNum}"></span>
			</div>
			
			<input th:if="*{offerStatusCd == null or offerStatusCd == 'VO01'}" class="btn btn-success pull-right" type="submit" value="투표 등록하기" style="margin-right: 200px;" />
			<input th:if="*{offerStatusCd == 'VO02'}" class="btn btn-success pull-right" type="submit" value="투표 종료하기" style="margin-right: 200px;" />
		</div>
	</form>
	<script type="text/javascript" src="../../jquery.js"></script>
</body>
</html>