<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Goal Keepin</title>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/richtext.min.css}">
<style>
header a, header li {
	margin-top: 10px;
	color: #777;
	font-weight: bold;
	color: #777
}

.row {
	margin: 15px 0 0 0;
}

header li {
	margin-left: 5px;
}

#challengeName input {
	width: 230px;
}

.forRecruiting, .forModifying {
	display: none;
}

#thumbnailImg img {
	width: 150px;
	height: 150px;
	border: 2px solid black;
}

#authMethod label {
	font-weight: normal;
	margin-right: 20px;
	margin-left: 5px;
}

#authMethod .col-md-2 span {
	font-weight: bold;
}

#authMethod input[type=number] {
	width: 50px;
}
</style>
<body>
	<div class="row">
		<header class="col-md-12">
			<h1 th:if="*{baseChallenge.baseNo == null}" class="brand pull-left">챌린지 생성하기</h1>
			<h1 th:if="*{baseChallenge.baseNo != null}" class="brand pull-left">생성한 챌린지 상세정보</h1>
			<ul th:if="*{baseChallenge != null and baseChallenge.baseNo != null}" class="list-inline list-unstyled pull-right" id="headerBtn">
				<li th:if="*{operatedChallengeCount > 0}"><a class="btn btn-primary" th:text="${'등록한 챌린지 목록 (' + operatedChallengeCount + ')'}" id="showOperatedChallengeList" href="#">등록한 챌린지 목록</a></li>
				<li><a class="btn btn-primary" id="startRecruiting" href="#">모집 시작하기</a></li>
				<li th:if="*{modifiable == 1}"><a class="btn btn-primary" href="#" id="modifyChallengeDetail">수정하기</a></li>
			</ul>
		</header>
	</div>

	<form th:if="*{baseChallenge != null}" method="post" th:action="@{/challenge/processChallengeGeneration}" th:object="${baseChallenge}" enctype="multipart/form-data">
		<input th:if="*{baseNo != null}" type="hidden" id="baseNo" name="baseNo" th:value="*{baseNo}" /> <input th:if="*{baseNo != null}" type="hidden" id="baseNmTransNo" name="baseNmTransNo" th:value="*{baseNmTransNo}" /> <input th:if="*{baseNo != null}" type="hidden" id="baseAuthDescTransNo" name="baseAuthDescTransNo" th:value="*{baseAuthDescTransNo}" /> <input th:if="*{baseNo != null}" type="hidden" id="baseDetailTransNo" name="baseDetailTransNo" th:value="*{baseDetailTransNo}" />

		<div class="row" id="challengeName">
			<div class="col-md-3">
				<h3 class="h4">챌린지 명(영문)</h3>
				<input type="text" name="baseNmEn" th:field="*{baseNmEn}" class="add" required="required" /> <span th:text="*{baseNmEn}" class="view"></span>
			</div>
			<div class="col-md-3">
				<h3 class="h4">챌린지 명(번체)</h3>
				<input type="text" name="baseNmTc" th:field="*{baseNmTc}" class="add" required="required" /> <span th:text="*{baseNmTc}" class="view"></span>
			</div>
			<div class="col-md-3">
				<h3 class="h4">챌린지 명(간체)</h3>
				<input type="text" name="baseNmSc" th:field="*{baseNmSc}" class="add" required="required" /> <span th:text="*{baseNmSc}" class="view"></span>
			</div>
			<div class="col-md-3" th:if="*{baseNo != null}">
				<h3 class="h4">등록일시</h3>
				<span th:text="*{#dates.format(baseRegDate, 'yyyy.MM.dd HH:mm:ss')}"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<h3 class="h4">습관 타입</h3>
				<select multiple="multiple" style="width: 100px;" th:size="${T(goalKeepin.constants.BaseHabitType).values().length}" name="baseHabitTypeCd" id="baseHabitTypeCd" th:field="*{baseHabitTypeCd}" class="add" required="required">
					<option th:each="habitType: ${T(goalKeepin.constants.BaseHabitType).values()}" th:value="${habitType}" th:text="${habitType.baseHabitTypeName}"></option>
				</select> <input type="hidden" name="searchKeyword" id="searchKeyword"> <span th:text="*{searchKeyword}" class="view">Base Habit Type Text</span>
			</div>
		</div>


		<div class="row">
			<div class="col-md-4" id="thumbnailImg">
				<h3 class="h4">썸네일 이미지</h3>
				<input type="file" name="baseThumbnailUrl" th:field="*{baseThumbnailUrl}" class="add" required="required" />
				<img th:src="*{baseThumbnailUrl}" class="view" style="margin-left: 100px;">
			</div>
			<div class="col-md-4 forRecruiting">
				<h3 class="h4">카테고리 설정</h3>
				<select name="categoryNo" id="categoryNo">
					<option th:each="category : ${categoryList}" th:value="${category.categoryNo}" th:utext="${category.categoryContent}">
				</select>
			</div>
			<div class="col-md-4 forRecruiting">
				<h3 class="h4">제한 등급</h3>
				<select id="gradeCd" name="gradeCd">
					<option th:each="grade: ${T(goalKeepin.constants.ChallengeGrade).values()}" th:value="${grade}" th:text="${grade.gradeName}"></option>
				</select>
			</div>
		</div>

		<section class="forRecruiting">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<h3 class="h4">최소 참가비</h3>
						<input type="number" name="minFee" id="minFee" style="width: 200px;" />
					</div>
					<div class="col-md-4">
						<h3 class="h4">최대 참가비</h3>
						<input type="number" name="minFee" id="maxFee" style="width: 200px;" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-4">
						<h3 class="h4">시작일</h3>
						<input type="date" name="startDate" id="startDate" style="width: 200px;" />
					</div>
					<div class="col-md-4">
						<h3 class="h4">종료일</h3>
						<input type="date" name="endDate" id="endDate" style="width: 200px;" />
					</div>
				</div>
			</div>
		</section>

		<section id="authMethod">
			<div class="row">
				<h2 class="h3">인증 방법</h2>
			</div>
			<div class="row">
				<div class="col-md-2">
					<span>인증가능 요일</span>
				</div>
				<div class="col-md-10">
					<div class="add">
						<input type="radio" name="baseAuthDateCd" value="AD01" id="baseAuthDateCd1" th:field="*{baseAuthDateCd}" required="required" /><label for="baseAuthDateCd1">월-금</label> <input type="radio" name="baseAuthDateCd" value="AD02" id="baseAuthDateCd2" th:field="*{baseAuthDateCd}" required="required" /><label for="baseAuthDateCd2">토-일</label> <input type="radio" name="baseAuthDateCd" value="AD03" id="baseAuthDateCd3" th:field="*{baseAuthDateCd}" required="required" /><label for="baseAuthDateCd3">월-일</label>
					</div>
					<div class="view">
						<span th:if="*{baseAuthDateCd == 'AD01'}" th:text="'월/화/수/목/금'"></span> <span th:if="*{baseAuthDateCd == 'AD02'}" th:text="'토/일'"></span> <span th:if="*{baseAuthDateCd == 'AD03'}" th:text="'월/화/수/목/금/토/일'"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<span>인증 빈도</span>
				</div>
				<div class="col-md-10">
					<div class="add">
						주 <input type="number" name="baseAuthFrequency" th:field="*{baseAuthFrequency}" id="baseAuthFrequency" required="required" /> 일 <input type="checkbox" id="everyday" /> <label for="everyday">매일</label>
					</div>
					<div class="view">
						<span th:text="*{baseAuthFrequency}"></span> <span th:if="*{(baseAuthDateCd == 'AD01' and baseAuthFrequency == 5)
									or (baseAuthDateCd == 'AD02' and baseAuthFrequency == 2)
									or (baseAuthDateCd == 'AD03' and baseAuthFrequency == 7)}" th:text="'(매일)'"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<span>인증 가능 시간</span>
				</div>
				<div class="col-md-10">
					<div class="add">
						<input type="time" name="baseAuthFromTime" id="baseAuthFromTime" th:field="*{baseAuthFromTime}" required="required" /> ~ <input type="time" name="baseAuthToTime" id="baseAuthToTime" th:field="*{baseAuthToTime}" required="required" /> <input type="checkbox" id="allHours" /> <label for="allHours">24시간</label>
					</div>
					<div class="view">
						<span th:text="*{baseAuthFromTime}"></span> ~ <span th:text="*{baseAuthToTime}"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<span>하루 인증 횟수</span>
				</div>
				<div class="col-md-10">
					<div class="add">
						<input type="number" id="baseAuthNumDaily" name="baseAuthNumDaily" th:field="*{baseAuthNumDaily}" required /> 회
					</div>
					<div class="view">
						<span th:text="*{baseAuthNumDaily}"></span>회
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<span>인증 방법</span>
				</div>
				<div class="col-md-10">
					<div class="add">
						<input type="radio" name="baseAuthMethodCd" value="AU01" id="photo" th:field="*{baseAuthMethodCd}" required="required" /><label for="photo">사진</label> <input type="radio" name="baseAuthMethodCd" value="AU02" id="audio" th:field="*{baseAuthMethodCd}" required="required" /><label for="audio">음성</label>
					</div>
					<div class="view">
						<span th:if="*{baseAuthMethodCd == 'AU01'}" th:text="'사진'"></span> <span th:if="*{baseAuthMethodCd == 'AU02'}" th:text="'음성'"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<span>인증샷 공개 여부</span>
				</div>
				<div class="col-md-10">
					<div class="add">
						<input type="radio" name="baseAuthIsOpen" value="1" id="photoShown" th:field="*{baseAuthIsOpen}" required="required" /><label for="photoShown">공개</label> <input type="radio" name="baseAuthIsOpen" value="0" id="photoHidden" th:field="*{baseAuthIsOpen}" required="required" /><label for="photoHidden">비공개</label>
					</div>
					<div class="view">
						<span th:if="*{baseAuthIsOpen == 1}" th:text="'공개'"></span> <span th:if="*{baseAuthIsOpen == 0}" th:text="'불공개'"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<span>인증샷 간격</span>
				</div>
				<div class="col-md-10">
					<div class="add">
						<span id="intervalItem"> <input type="number" name="baseAuthInterval" id="baseAuthInterval" th:field="*{baseAuthInterval}" required="required" /><label>시간</label>
						</span> <input type="checkbox" id="noLimit" /><label for="noLimit">제한없음</label>
					</div>
					<div class="view">
						<span th:if="*{baseAuthInterval != 0}" th:text="*{baseAuthInterval} + '시간'"></span> <span th:if="*{baseAuthInterval == 0}" th:text="'제한없음'"></span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<span>사진첩 사용 가능 여부</span>
				</div>
				<div class="col-md-10">
					<div class="add">
						<input type="radio" name="baseAuthIsAlbum" value="1" id="albumAvaliable" th:field="*{baseAuthIsAlbum}" required="required" /><label for="albumAvaliable">가능</label> <input type="radio" name="baseAuthIsAlbum" value="0" id="albumNotavaliable" th:field="*{baseAuthIsAlbum}" required="required" /><label for="albumNotavaliable">불가능</label>
					</div>
					<div class="view">
						<span th:if="*{baseAuthIsAlbum == 1}" th:text="'가능'"></span> <span th:if="*{baseAuthIsAlbum == 0}" th:text="'불가능'"></span>
					</div>
				</div>
			</div>
		</section>

		<section id="challengeDetail">
			<div class="row">
				<div>
					<h3 class="h4">상세 설명(영문)</h3>
				</div>
				<div class="col-md-10">
					<div class="add">
						<textarea rows="5" style="width: 100%;" name="baseAuthDescEn" th:field="*{baseAuthDescEn}" id="baseAuthDescEn" placeholder="Please fill in the content." required="required"></textarea>
					</div>
					<div class="view" th:text="*{baseAuthDescEn}"></div>
				</div>
			</div>
			<div class="row">
				<div>
					<h3 class="h4">상세 설명(번체)</h3>
				</div>
				<div class="col-md-10">
					<div class="add">
						<textarea rows="5" style="width: 100%;" name="baseAuthDescTc" th:field="*{baseAuthDescTc}" id="baseAuthDescTc" placeholder="Please fill in the content." required="required"></textarea>
					</div>
					<div class="view" th:text="*{baseAuthDescTc}"></div>
				</div>
			</div>
			<div class="row">
				<div>
					<h3 class="h4">상세 설명(간체)</h3>
				</div>
				<div class="col-md-10">
					<div class="add">
						<textarea rows="5" style="width: 100%;" name="baseAuthDescSc" th:field="*{baseAuthDescSc}" id="baseAuthDescSc" placeholder="Please fill in the content." required="required"></textarea>
					</div>
					<div class="view" th:text="*{baseAuthDescSc}"></div>
				</div>
			</div>
		</section>

		<section>
			<div class="row">
				<div>
					<h2 class="h4">챌린지 상세 설명(영문)</h2>
				</div>
				<div class="page-wrapper box-content col-md-11">
					<textarea class="content1" name="baseDetailEn" id="baseDetailEn" th:field="*{baseDetailEn}" required></textarea>
				</div>
			</div>
			<div class="row">
				<div>
					<h2 class="h4">챌린지 상세 설명(번체)</h2>
				</div>
				<div class="page-wrapper box-content col-md-11">
					<textarea class="content2" name="baseDetailTc" id="baseDetailTc" th:field="*{baseDetailTc}" required></textarea>
				</div>
			</div>
			<div class="row">
				<div>
					<h2 class="h4">챌린지 상세 설명(간체)</h2>
				</div>
				<div class="page-wrapper box-content col-md-11">
					<textarea class="content3" name="baseDetailSc" id="baseDetailSc" th:field="*{baseDetailSc}" required></textarea>
				</div>
			</div>
		</section>

		<div class="row text-center">
			<input th:if="*{baseNo == null}" type="submit" value="생성하기" class="btn btn-success" id="createChallenge" />
		</div>
		<div class="row forRecruiting text-center">
			<a id="createChallengeDetail" class="btn btn-primary">모집 시작</a>
		</div>
		<div class="row forModifying text-center">
			<input id="doModifyChallengeDetail" type="submit" class="btn btn-primary" value="수정하기" />
		</div>
	</form>
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery.richtext.js}"></script>
	<script th:inline="javascript" th:if="*{baseChallenge != null}">
    	var baseHabitTypeCd = /*[[*{baseChallenge.baseHabitTypeCd}]]*/ null;
    	var baseDetailEn = /*[[*{baseChallenge.baseDetailEn}]]*/ null;
    	var baseDetailTc = /*[[*{baseChallenge.baseDetailTc}]]*/ null;
    	var baseDetailSc = /*[[*{baseChallenge.baseDetailSc}]]*/ null;
	</script>

	<script type="text/javascript">
		$(function() {
			 $('.content1').richText();
			 $('.content2').richText();
			 $('.content3').richText();
			 
			 var isCreatingBaseChallenge = [[*{baseChallenge != null and baseChallenge.baseNo == null}]];
			 
			 if(isCreatingBaseChallenge) {
				 // 생성 
				 $('.view').css('display', 'none');
			 } else {
				 // 보기
				 $('.richText-editor').attr('contenteditable', false);
				 $('.add').css('display', 'none');
				 
				 // 선택된 습관 타입 보여주기
				 $("#baseHabitTypeCd").val(baseHabitTypeCd.split(','));
			 }
			 
			 // 챌린지 정보 수정하기 버튼 처리
			 $('#modifyChallengeDetail').click(function() {
				 $('.richText-editor').attr('contenteditable', true);
				 $('.add').fadeIn('slow');
				 $('.view').css('display', 'none');
				 $('.forModifying').show('slow');
				 
				 $('<li><a href="#" class="btn btn-primary">수정 취소</a></li>')
				 .appendTo('#headerBtn')
				 .siblings('li')
				 .hide()
				 .end()
				 .click(function() {
					 $(this)
					 .siblings('li')
					 .show()
					 .end()
					 .remove();
					 
					 $('.add').css('display', 'none');
					 $('.view').css('display', 'block');
					 
					 $('.richText-editor:eq(0)').html(baseDetailEn);
					 $('.richText-editor:eq(1)').html(baseDetailTc);
					 $('.richText-editor:eq(2)').html(baseDetailSc);
					 $('.richText-editor').attr('contenteditable', false);
					 
					 $('.forModifying').hide();
				 });
				 
			 });
			 
			// 수정하기 실행
			 $('#doModifyChallengeDetail').click(function() {
				 var textArr = [];
					$('#baseHabitTypeCd').children(':selected').each(function(index, element) {
						textArr.push($(element).text());
					});
					
					$('#searchKeyword').val(textArr.join(','));
			 });
			
			 // 모집 시작하기 버튼 처리
			 $('#startRecruiting').click(function() {
				 $('.forRecruiting').fadeIn('slow');
				 $('.forRecruiting input').attr('required', 'required');
				 
				 $('<li><a href="#" class="btn btn-primary">모집 시작 취소</a></li>')
				 .appendTo('#headerBtn')
				 .siblings('li')
				 .hide()
				 .end()
				 .click(function() {
					 $(this)
					 	.siblings('li')
					 	.show()
					 	.end()
					 	.remove();
					 $('.forRecruiting').fadeOut('slow');
					 $('.forRecruiting input').removeAttr('required');
				 });
			 });
			 
			 // 인증 빈도 매일 체크박스 처리
			 $('#everyday').change(function() {
				 var dateCount = $('[name=baseAuthDateCd]:checked').length;
				 if(dateCount == 0) {
					 alert('우선 인증가능 요일을 선택하세요.');
					 $(this).prop('checked', false);
				 } else {
					if($(this).prop('checked')) {
						
						var daysArr = [5, 2, 7];
						for(var i=0; i<daysArr.length; i++) {
							if($('#baseAuthDateCd' + (i+1)).prop('checked')) {
								 $('#baseAuthFrequency').val(daysArr[i]);
							}	
						}
						
						$('#baseAuthFrequency').attr('readonly', true);
					} else {
						$('#baseAuthFrequency').attr('readonly', false);
					}
				 }
			 });
			 
			 // 인증 가능 요일 라디오 처리
			 $('input[name=baseAuthDateCd]').change(function() {
				var daysArr = [5, 2, 7];
				for(var i=0; i<daysArr.length; i++) {
					if($('#baseAuthDateCd' + (i+1)).prop('checked')) {
						if($('#everyday').prop('checked')) {
							$('#baseAuthFrequency').val(daysArr[i]);
						}
					}	
				}
			 });
			 
			 // 인증 빈도 입력 처리
			 $('#baseAuthFrequency').blur(function() {
				 $baseAuthDateCd = $('[name=baseAuthDateCd]');
				 var $checkedDateCd = $baseAuthDateCd.filter(':checked');
				 
				 if($checkedDateCd.length > 0) {
					 var maxDayIndex = $baseAuthDateCd.index($checkedDateCd);
					 
					 var daysArr = [5, 2, 7];
					 var maxDay = daysArr[maxDayIndex];
					 if(parseInt($(this).val()) > maxDay) {
						 $(this).val(maxDay);
					 }
				 }
			 });
			 
			 // 24시간 체크박스 처리 
			 $('#allHours').change(function() {
				if($(this).prop('checked')) {
					$('#baseAuthFromTime').val('01:00').attr('readonly', true);
					$('#baseAuthToTime').val('23:59').attr('readonly', true);
				} else {
					$('#baseAuthFromTime').attr('readonly', false);
					$('#baseAuthToTime').attr('readonly', false);
				}
			 });
			 
			 // 인증샷 간격 제한없음 체크박스 처리
			 $('#noLimit').change(function() {
				 if($(this).prop('checked')) {
					 $('#intervalItem').hide();
					 $('#baseAuthInterval').val('0');
				 } else {
					 $('#intervalItem').show();
					 $('#baseAuthInterval').val('');
				 }
			 });
			 
			 // 제출시 습관타입을 키원드로 전환
			 $('#baseHabitTypeCd').change(function() {
				var textArr = [];
				$(this).children(':selected').each(function(index, element) {
					textArr.push($(element).text());
				});
				
				$('#searchKeyword').val(textArr.join(','));
			 });
			 
			 // 하단 모집 시작하기 버튼 처리
			 $('#createChallengeDetail').click(function(e) {
				 
				 var minFee = $('#minFee').val();
				 
				 if(minFee == '') {
					 alert('minfee');
					 $('#minFee').focus();
					 return false;
				 }
				 
				 var token = $("meta[name='_csrf']").attr("content");
				 var header = $("meta[name='_csrf_header']").attr("content");
				 
				 $.ajax({ url: '/goalkeepinmanager/challenge/createNewOperatedChallenge',  
					 data: {
						 baseChallengeNo: $('#baseNo').val(),
						 categoryNo: $('#categoryNo').val(),
						 gradeCd: $('#gradeCd').val(),
						 minFee: $('#minFee').val(),
						 maxFee: $('#maxFee').val(),
						 startDate: $('#startDate').val(),
						 endDate: $('#endDate').val(),
						 baseAuthMethodCd: $('input[name=baseAuthDateCd]:checked').val(),
						 baseAuthFrequency: $('#baseAuthFrequency').val(),
						 baseAuthNumDaily: $('#baseAuthNumDaily').val()
		 			 },  
					 method: "POST",  
					 dataType: "text", 
					 beforeSend : function(xhr) {
					    xhr.setRequestHeader(header, token);
						}
					 })
					 .done(function(json) { 
						 window.location = '/goalkeepinmanager/challenge/showOperatedChallengeList/1?baseNo=' + $('#baseNo').val(); 
					 });
				 });

			 
			 // 등록한 챌린지 목록 버튼 처리
			 $('#showOperatedChallengeList').click(function() {
				 window.location = '/goalkeepinmanager/challenge/showOperatedChallengeList/1?baseNo=' + $('#baseNo').val();
			 });
			 
		});
	</script>
</body>
</html>