<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Goal Keepin</title>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-lite.min.css" rel="stylesheet">
<style>
header a, header li {
	margin-top: 10px;
	color: #777;
	font-weight: bold;
	color: #777
}

.row {
	margin: 15px 0 0 0;
}

header li {
	margin-left: 5px;
}

#challengeName input {
	width: 100%;
}

.forRecruiting, .forModifying {
	display: none;
}

#thumbnailImg img {
	border: 1px solid gray;
	display: block;
	max-width:200px;
	max-height:200px;
	width: auto;
	height: auto;
}

#authMethod label {
	font-weight: normal;
	margin-right: 20px;
	margin-left: 5px;
}

#authMethod .col-md-3 span {
	font-weight: bold;
}

#authMethod input[type=number] {
	width: 50px;
}

#middlePart, #bottomPart {
	background-color: #fcfcfc;
	width: 98%; 
	border: 1px solid grey;
	border-top-width: 3px;
	padding: 20px;
	margin-bottom: 20px;
}

#detailPart > div {
	margin-right: 2%;
}

#timePeriodFrom, #timePeriodTo {
	background-color: white;
    display: inline-flex;
    border: 1px solid #ccc;
    color: #555;
}

#timePeriodFrom input,  #timePeriodTo input {
	border: none;
    color: #555;
    text-align: center;
    width: 60px;
}

textarea {
	resize: none;
}

</style>
<body style="background-color: rgb(245, 247, 250);">
	<div class="row header">
		<header class="col-md-12 navbar-header">
			<h1 th:if="*{baseChallenge.baseNo == null}" class="brand pull-left h3">Create a project</h1>
			<h1 th:if="*{baseChallenge.baseNo != null}" class="brand pull-left h3">Details of created projects</h1>
			<ul th:if="*{baseChallenge != null and baseChallenge.baseNo != null}" class="list-inline list-unstyled pull-right" id="headerBtn">
				<li th:if="*{operatedChallengeCount > 0}"><a class="btn btn-primary" th:text="${'Project list (' + operatedChallengeCount + ')'}" id="showOperatedChallengeList" href="#">Project List</a></li>
				<li><a class="btn btn-primary" id="startRecruiting" href="#">Start a project</a></li>
				<li th:if="*{modifiable == 1}"><a class="btn btn-primary" href="#" id="modifyChallengeDetail">Edit</a></li>
			</ul>
		</header>
	</div>

	<form th:if="*{baseChallenge != null}" method="post" th:action="@{/challenge/processChallengeGeneration}" th:object="${baseChallenge}" enctype="multipart/form-data" id="challengeForm">
		<input th:if="*{baseNo != null}" type="hidden" id="baseNo" name="baseNo" th:value="*{baseNo}" /> <input th:if="*{baseNo != null}" type="hidden" id="baseNmTransNo" name="baseNmTransNo" th:value="*{baseNmTransNo}" /> <input th:if="*{baseNo != null}" type="hidden" id="baseAuthDescTransNo" name="baseAuthDescTransNo" th:value="*{baseAuthDescTransNo}" /> <input th:if="*{baseNo != null}" type="hidden" id="baseDetailTransNo" name="baseDetailTransNo" th:value="*{baseDetailTransNo}" />
	
		<section id="middlePart">
			<div class="row" id="challengeName">
				<div class="col-md-3">
					<h3 class="h5">Name of Project (English)</h3>
					<input type="text" name="baseNmEn" th:field="*{baseNmEn}" class="add" required="required" /> <span th:text="*{baseNmEn}" class="view"></span>
				</div>
				<div class="col-md-3">
					<h3 class="h5">Name of Project (Traditional)</h3>
					<input type="text" name="baseNmTc" th:field="*{baseNmTc}" class="add" required="required" /> <span th:text="*{baseNmTc}" class="view"></span>
				</div>
				<div class="col-md-3">
					<h3 class="h5">Name of Project (Simplified)</h3>
					<input type="text" name="baseNmSc" th:field="*{baseNmSc}" class="add" required="required" /> <span th:text="*{baseNmSc}" class="view"></span>
				</div>
				<div class="col-md-3" th:if="*{baseNo != null}">
					<h3 class="h5">Registration Date</h3>
					<span th:text="*{#dates.format(baseRegDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
				</div>
			</div>
	
			<div class="row">
				<div class="col-md-12">
					<h3 class="h5">Habit type</h3>
					<input type="hidden" name="baseHabitTypeCd" id="baseHabitTypeCd">
					<input type="hidden" name="searchKeyword" id="searchKeyword"> 
					<div class="add">
						<div class="row">
							<div class="col-md-2">
								<input type="checkbox" name="baseHabitTypeItem" value="HT01" id="Health">
								<label for="Health" style="font-weight: normal;">Health</label>
							</div>
							<div class="col-md-2">
								<input type="checkbox" name="baseHabitTypeItem" value="HT02" id="Lifestyle">
								<label for="Lifestyle" style="font-weight: normal;">Lifestyle</label>
							</div>
							<div class="col-md-2">
								<input type="checkbox" name="baseHabitTypeItem" value="HT03" id="Relationships">
								<label for="Relationships" style="font-weight: normal;">Relationships</label>
							</div>
							<div class="col-md-2">
								<input type="checkbox" name="baseHabitTypeItem" value="HT04" id="Ability">
								<label for="Ability" style="font-weight: normal;">Ability</label>
							</div>
						</div>
					
						<div class="row">
							<div class="col-md-2">
								<input type="checkbox" name="baseHabitTypeItem" value="HT05" id="Hobby">
								<label for="Hobby" style="font-weight: normal;">Hobby</label>
							</div>
							<div class="col-md-2">
								<input type="checkbox" name="baseHabitTypeItem" value="HT06" id="Asset">
								<label for="Asset" style="font-weight: normal;">Asset</label>
							</div>
							<div class="col-md-2">
								<input type="checkbox" name="baseHabitTypeItem" value="HT07" id="Event">
								<label for="Event" style="font-weight: normal;">Event</label>
							</div>
							<div class="col-md-2">
								<input type="checkbox" name="baseHabitTypeItem" value="HT08" id="Premium">
								<label for="Premium" style="font-weight: normal;">Premium</label>
							</div>
						</div>
					</div>
					<span th:text="*{searchKeyword}" class="view" id="searchKeywordText">Base Habit Type Text</span>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4" id="thumbnailImg">
					<h3 class="h5">Thumbnail image (jpg/jpeg/png)</h3>
					<input type="file" name="baseThumbnailUrl" th:field="*{baseThumbnailUrl}" class="add" required="required" accept="image/jpeg,image/jpg,image/png" />
					<img id="imgPreview" src="#" style="display: none; margin-top: 10px; margin-left: 100px;">
					<img th:src="*{baseThumbnailUrl}" class="view" style="margin-top: 10px; margin-left: 100px;">
				</div>
				<div class="col-md-4 forRecruiting">
					<h3 class="h5">Category setting</h3>
					<select name="categoryNo" id="categoryNo" style="width: 200px; text-overflow: ellipsis;">
						<option th:each="category : ${categoryList}" th:value="${category.categoryNo}" th:utext="${category.categoryContent}">
					</select>
				</div>
				<div class="col-md-4 forRecruiting">
					<h3 class="h5">Level Restriction</h3>
					<select id="gradeCd" name="gradeCd">
						<option th:each="grade: ${T(goalKeepin.constants.ChallengeGrade).values()}" th:value="${grade}" th:text="${grade.gradeName}"></option>
					</select>
				</div>
			</div>

			<section class="forRecruiting">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4">
							<h3 class="h5">Minimum participation fee</h3>
							<input type="number" name="minFee" id="minFee" style="width: 250px;" min="1" placeholder="(SGD) Please enter without comma"  />
						</div>
						<div class="col-md-4">
							<h3 class="h5">Maximum participation fee</h3>
							<input type="number" name="minFee" id="maxFee" style="width: 250px;" min="1" placeholder="(SGD) Please enter without comma" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-4">
							<h3 class="h5">Start date</h3>
							<input type="date" name="startDate" id="startDate" style="width: 200px;" />
						</div>
						<div class="col-md-4">
							<h3 class="h5">End date</h3>
							<input type="date" name="endDate" id="endDate" style="width: 200px;" />
						</div>
					</div>
				</div>
			</section>
		</section>

		<div class="row">
			<div class="col-md-12">
				<h2 class="h3">Verification Method</h2>
			</div>
		</div>
		<section id="bottomPart">
			<section id="authMethod">
				<div class="row">
					<div class="col-md-3">
						<span>Available day for verification</span>
					</div>
					<div class="col-md-9">
						<div class="add">
							<input type="radio" name="baseAuthDateCd" value="AD01" id="baseAuthDateCd1" th:field="*{baseAuthDateCd}" required="required" /><label for="baseAuthDateCd1">Mon-Fri</label> <input type="radio" name="baseAuthDateCd" value="AD02" id="baseAuthDateCd2" th:field="*{baseAuthDateCd}" required="required" /><label for="baseAuthDateCd2">Sat-Sun</label> <input type="radio" name="baseAuthDateCd" value="AD03" id="baseAuthDateCd3" th:field="*{baseAuthDateCd}" required="required" /><label for="baseAuthDateCd3">Mon-Sun</label>
						</div>
						<div class="view">
							<span th:if="*{baseAuthDateCd == 'AD01'}" th:text="'Mon/Tue/Wed/Thu/Fri'"></span> <span th:if="*{baseAuthDateCd == 'AD02'}" th:text="'Sat/Sun'"></span> <span th:if="*{baseAuthDateCd == 'AD03'}" th:text="'Mon/Tue/Wed/Thu/Fri/Sat/Sun'"></span>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-3">
						<span>Verification Frequency</span>
					</div>
					<div class="col-md-9">
						<div class="add">
							<input type="number" name="baseAuthFrequency" th:field="*{baseAuthFrequency}" id="baseAuthFrequency" required="required" readonly="readonly" min="1" /> Days per week
						</div>
						<div class="view">
							<span th:text="*{baseAuthFrequency}"></span>
							<span th:text="*{baseAuthFrequency == 1 ? 'Day' : 'Days'}"></span>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-3">
						<span>Available time period for verification</span>
					</div>
					<div class="col-md-9">
						<div class="add">
							<span id="timePeriod">
								<span id="timePeriodFrom">
									<input type="number" min="0" max="23" placeholder="00" id="baseAuthFromTimeHour" required="required">:
		  							<input type="number" min="0" max="59" placeholder="00" id="baseAuthFromTimeMinute" required="required">
	  							</span>
	  							~
	  							<span id="timePeriodTo">
		  							<input type="number" min="0" max="23" placeholder="23" id="baseAuthToTimeHour" required="required">:
		  							<input type="number" min="0" max="59" placeholder="59" id="baseAuthToTimeMinute" required="required">
	  							</span>
	  							
	  							<input type="hidden" th:field="*{baseAuthFromTime}" required="required" />
								<input type="hidden" th:field="*{baseAuthToTime}" required="required" />
							</span>
							<input type="checkbox" id="allHours" /><label for="allHours">24 Hours</label>
						</div>
						<div class="view">
							<span th:text="*{baseAuthFromTime}"></span> ~ <span th:text="*{baseAuthToTime}"></span>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-3">
						<span>Number of verification per day</span>
					</div>
					<div class="col-md-9">
						<div class="add">
							<input type="number" id="baseAuthNumDaily" name="baseAuthNumDaily" th:field="*{baseAuthNumDaily}" required="required" min="1" /> Times
						</div>
						<div class="view">
							<span th:text="*{baseAuthNumDaily}"></span> Times
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-3">
						<span>Verification Method</span>
					</div>
					<div class="col-md-9">
						<div class="add">
							<input type="radio" name="baseAuthMethodCd" value="AU01" id="photo" th:field="*{baseAuthMethodCd}" required="required" /><label for="photo">Photo</label>
							<input type="radio" name="baseAuthMethodCd" value="AU02" id="audio" th:field="*{baseAuthMethodCd}" required="required" /><label for="audio">Voice</label>
						</div>
						<div class="view">
							<span th:if="*{baseAuthMethodCd == 'AU01'}" th:text="'Photo'"></span> <span th:if="*{baseAuthMethodCd == 'AU02'}" th:text="'Voice'"></span>
						</div>
					</div>
				</div>
				
				<div class="row" style="display: none;" id="albumAvailability">
					<div class="col-md-3">
						<span>Photo album Availability</span>
					</div>
					<div class="col-md-9">
						<div class="add">
							<input type="radio" name="baseAuthIsAlbum" value="1" id="albumAvaliable" th:field="*{baseAuthIsAlbum}" /><label for="albumAvaliable">Possible</label>
							<input type="radio" name="baseAuthIsAlbum" value="0" id="albumNotavaliable" th:field="*{baseAuthIsAlbum}" /><label for="albumNotavaliable">Impossible</label>
						</div>
						<div class="view">
							<span th:if="*{baseAuthIsAlbum == 1}" th:text="'Possible'"></span> <span th:if="*{baseAuthIsAlbum == 0}" th:text="'Impossible'"></span>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-3">
						<span>Contents Privacy</span>
					</div>
					<div class="col-md-9">
						<div class="add">
							<input type="radio" name="baseAuthIsOpen" value="1" id="photoShown" th:field="*{baseAuthIsOpen}" required="required" /><label for="photoShown">Public</label> <input type="radio" name="baseAuthIsOpen" value="0" id="photoHidden" th:field="*{baseAuthIsOpen}" required="required" /><label for="photoHidden">Private</label>
						</div>
						<div class="view">
							<span th:if="*{baseAuthIsOpen == 1}" th:text="'Public'"></span> <span th:if="*{baseAuthIsOpen == 0}" th:text="'Private'"></span>
						</div>
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-3">
						<span>Verification Interval</span>
					</div>
					<div class="col-md-9">
						<div class="add">
							<span id="intervalItem"> <input type="number" name="baseAuthInterval" id="baseAuthInterval" th:field="*{baseAuthInterval}" required="required" min="0" /><label>Hours</label>
							</span> <input type="checkbox" id="noLimit" /><label for="noLimit">No limit</label>
						</div>
						<div class="view">
							<span th:if="*{baseAuthInterval == 1}" th:text="*{baseAuthInterval} + ' Hour'"></span>
							<span th:if="*{baseAuthInterval > 1}" th:text="*{baseAuthInterval} + ' Hours'"></span>
							<span th:if="*{baseAuthInterval == 0}" th:text="'No limit'"></span>
						</div>
					</div>
				</div>
			</section>
	
			<section id="challengeDetail">
				<div class="row">
					<div>
						<h3 class="h5">Detailed Description (English)</h3>
					</div>
					<div class="col-md-10">
						<div class="add">
							<textarea rows="5" style="width: 100%;" name="baseAuthDescEn" th:field="*{baseAuthDescEn}" id="baseAuthDescEn" placeholder="Please fill in the content." required="required"></textarea>
						</div>
						<div class="view" th:text="*{baseAuthDescEn}"></div>
					</div>
				</div>
				<div class="row">
					<div>
						<h3 class="h5">Detailed Description (Traditional)</h3>
					</div>
					<div class="col-md-10">
						<div class="add">
							<textarea rows="5" style="width: 100%;" name="baseAuthDescTc" th:field="*{baseAuthDescTc}" id="baseAuthDescTc" placeholder="Please fill in the content." required="required"></textarea>
						</div>
						<div class="view" th:text="*{baseAuthDescTc}"></div>
					</div>
				</div>
				<div class="row">
					<div>
						<h3 class="h5">Detailed Description (Simplified)</h3>
					</div>
					<div class="col-md-10">
						<div class="add">
							<textarea rows="5" style="width: 100%;" name="baseAuthDescSc" th:field="*{baseAuthDescSc}" id="baseAuthDescSc" placeholder="Please fill in the content." required="required"></textarea>
						</div>
						<div class="view" th:text="*{baseAuthDescSc}"></div>
					</div>
				</div>
			</section>
		</section>
		
		 <section id="detailPart">
		 	<div class="row">
		 		<h2 class="h5">Project details (English)</h2>
		 		<textarea class="summernote" th:field="*{baseDetailEn}"></textarea>
		 	</div>
		 	<div class="row">
		 		<h2 class="h5">Project details (Traditional)</h2>
		 		<textarea class="summernote" th:field="*{baseDetailTc}"></textarea>
		 	</div>
		 	<div class="row">
		 		<h2 class="h5">Project details (Simplified)</h2>
		 		<textarea class="summernote" th:field="*{baseDetailSc}"></textarea>
		 	</div>
		 </section>
		
		<section>
			<div class="row text-center col-md-11" style="margin-bottom: 20px; margin-top: 20px;">
				<input th:if="*{baseNo == null}" type="submit" value="Create a project" class="btn btn-primary" id="createChallenge" />
			</div>
			<div class="row forRecruiting text-center col-md-11" style="margin-bottom: 20px; margin-top: -20px;">
				<a id="createChallengeDetail" class="btn btn-primary">Start a project</a>
			</div>
			<div class="row forModifying text-center col-md-11" style="margin-bottom: 20px; margin-top: 20px;">
				<input id="doModifyChallengeDetail" type="submit" class="btn btn-primary" value="Edit" />
			</div>
		</section>
	</form>
	
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/summernote-lite.min.js}"></script>
	<script th:inline="javascript" th:if="*{baseChallenge != null}">
    	var baseHabitTypeCd = /*[[*{baseChallenge.baseHabitTypeCd}]]*/ null;
    	var baseDetailEn = /*[[*{baseChallenge.baseDetailEn}]]*/ null;
    	var baseDetailTc = /*[[*{baseChallenge.baseDetailTc}]]*/ null;
    	var baseDetailSc = /*[[*{baseChallenge.baseDetailSc}]]*/ null;
    	var categoryCount = /*[[*{categoryList.size()}]]*/ 0;
    	var minStartDate = /*[[*{minStartDate}]]*/ null;
    	var minEndDate = /*[[*{minEndDate}]]*/ null;
    	
    	var baseAuthMethodCd = /*[[*{baseChallenge.baseAuthMethodCd}]]*/ null;
		var commonUrl = /*[[*{commonUrl}]]*/ null;
		
		var baseAuthInterval = /*[[*{baseChallenge.baseAuthInterval}]]*/ null;
		
		var baseAuthFromTime = /*[[*{baseChallenge.baseAuthFromTime}]]*/ null;
		var baseAuthToTime = /*[[*{baseChallenge.baseAuthToTime}]]*/ null;
	</script>

	<script type="text/javascript">
		$(function() {
			 var token = $("meta[name='_csrf']").attr("content");
			 var header = $("meta[name='_csrf_header']").attr("content");
			 
			 $('.summernote').summernote({
			        placeholder: 'Please enter project details',
			        tabsize: 2,
			        height: 300,
			        disableDragAndDrop: true,
			        toolbar: [
	                    ['style', ['style']],
	                    ['font', ['bold', 'underline', 'italic', 'clear']],
	                    ['fontname', ['fontname']],
	                    ['fontsize', ['fontsize']],
	                    ['color', ['color']],
	                    ['para', ['ul', 'ol', 'paragraph']],
	                    ['table', ['table']],
	                    ['insert', ['link', 'picture']],
	                    ['view', ['fullscreen', 'codeview', 'help']]
	                    ], 
	                    callbacks: 
	                     {
	                        onImageUpload: function(files, editor, welEditable) 
	                        {
	                           for (var i = files.length - 1; i >= 0; i--)
	                           {
	                              sendFile(files[i], this, editor);
	                           }
	                        }
	                     }
			      });
			 
			 function sendFile(file, el, editor) 
		     {
			      var form_data = new FormData();
			      
			      form_data.append('file', file);
			      
			      $.ajax(
			            {
			               data: form_data,
			               type: "POST",
			               url: '/goalkeepinmanager/challenge/detailImage',
			               cache: false,
			               contentType: false,
			               enctype: 'multipart/form-data',
			               processData: false,
			               beforeSend : function(xhr) {
						       xhr.setRequestHeader(header, token);
						   },
			               success: function(url) 
			               {
			                  var image = $('<img>').attr({src : commonUrl + url, style : "width:auto; height:auto;"});
			                  $(el).summernote("insertNode", image[0]);
			               }
			            }
			      );
		    }
			 
			 var isCreatingBaseChallenge = [[*{baseChallenge != null and baseChallenge.baseNo == null}]];
			 
			 if(isCreatingBaseChallenge) {
				 // 생성 
				 $('.view').css('display', 'none');
			 } else {
				 // 보기
				 $('#baseDetailEn').summernote('disable');
				 $('#baseDetailTc').summernote('disable');
				 $('#baseDetailSc').summernote('disable');
				 $('.add').css('display', 'none');
				 
				 if(baseAuthMethodCd == 'AU01') {
					 $('#albumAvailability').css('display', 'block');
				 }
				 
				 // 선택된 습관 타입 보여주기 todo
				 var baseHabitArr = baseHabitTypeCd.split(',');
				 
				 $('input[name=baseHabitTypeItem]').each(function() {
					 
					 if(baseHabitArr.indexOf($(this).val()) != -1) {
						 $(this).prop('checked', 'checked');
					 }
				 });
				 
				 var searchKeywordText = $('#searchKeywordText').text();
				 var searchKeywordArr = searchKeywordText.split(',');
				 $('#searchKeywordText').text(searchKeywordArr.join(', '));
				 
				 var fromTimeHour = baseAuthFromTime.substring(0, 2);
				 var fromTimeMinute = baseAuthFromTime.substring(3, 5);
				 var toTimeHour = baseAuthToTime.substring(0, 2);
				 var toTimeMinute = baseAuthToTime.substring(3, 5);
				 
				 $('#baseAuthFromTimeHour').val(fromTimeHour);
				 $('#baseAuthFromTimeMinute').val(fromTimeMinute);
				 $('#baseAuthToTimeHour').val(toTimeHour);
				 $('#baseAuthToTimeMinute').val(toTimeMinute);
			 }
			
			 // 습관타입 처리
			 $('input[name=baseHabitTypeItem]').change(function() {
				 if($('input[name=baseHabitTypeItem]:checked').length > 2) {
					 alert("The number of habit types can't be more than 2.")
					 this.checked = false;
				 }
				 processHabitType();
			 });
			 
			 function processHabitType() {
				 var baseHabitTypeArr = [];
				 var searchKeywordArr = [];
				 $('input[name=baseHabitTypeItem]:checked').each(function(index, ele) {
					 baseHabitTypeArr.push($(this).val());
					 searchKeywordArr.push($(this).attr('id'));
				 });

				 $('#baseHabitTypeCd').val(baseHabitTypeArr.join(','));
				 $('#searchKeyword').val(searchKeywordArr.join(','));
			 }
			 
			 //썸네일 이미지 사이즈 제한
			 $('#baseThumbnailUrl').change(function() {
				 if(!(/\.(jpg|jpeg|png)$/i).test(this.value)) {
					 alert('This is not an allowed file type.');
					 this.value = '';
		             $('#imgPreview').hide();
		             return;
				 }
			    
				 if(this.files[0].size > 1048576){
				        alert("Thumbnail image can't be larger than 1MB.");
				        this.value = "";
				        $('#imgPreview').hide();
			     } else {
					 readURL(this);
			     }
			 });
			 
			 function readURL(input) {
	            if (input.files && input.files[0]) {
		            var reader = new FileReader();
		            reader.onload = function (e) {
	                    $('#imgPreview').attr('src', e.target.result).show();
	                }
	                reader.readAsDataURL(input.files[0]);
	            }
	         }
			 
			 $('#startDate').attr('min', minStartDate);
			 $('#endDate').attr('min', minEndDate);
			 
			 // 챌린지 정보 수정하기 버튼 처리
			 $('#modifyChallengeDetail').click(function() {
				 $('#baseDetailEn').summernote('enable');
				 $('#baseDetailTc').summernote('enable');
				 $('#baseDetailSc').summernote('enable');
				 $('.add').fadeIn('slow');
				 $('.view').css('display', 'none');
				 $('.forModifying').show('slow');
				 $('#baseThumbnailUrl').removeAttr('required');
				 
				 if(baseAuthInterval == 0) {
					 $('#intervalItem').hide();
					 $('#noLimit').prop('checked', true);
				 }
				 
				 if('00:00:00' == baseAuthFromTime && '23:59:59' == baseAuthToTime) {
					 $('#allHours').click();
				 }
					 
				 $('<li><a href="#" class="btn btn-primary">Cancel Editing</a></li>')
				 .appendTo('#headerBtn')
				 .siblings('li')
				 .hide()
				 .end()
				 .click(function() {
					 $(this)
					 .siblings('li')
					 .show()
					 .end()
					 .remove();
					 
					 $('.add').css('display', 'none');
					 $('.view').css('display', 'block');
					 
					 $('#baseDetailEn').summernote('code', baseDetailEn);
					 $('#baseDetailTc').summernote('code', baseDetailTc);
					 $('#baseDetailSc').summernote('code', baseDetailSc);
					 
					 $('#baseDetailEn').summernote('disable');
					 $('#baseDetailTc').summernote('disable');
					 $('#baseDetailSc').summernote('disable');
					 
					 $('.forModifying').hide();
					 $('#baseThumbnailUrl').attr('required', 'required');
				 });
				 
			 });
			 
			 // 모집 시작하기 버튼 처리
			 $('#startRecruiting').click(function() {
				 
				 if(categoryCount == 0) {
					 if(confirm('No category created, do you want to go to the category creation page?')) {
						 var parentWindow = window.parent;
						 var category = parentWindow.document.getElementById('category');
						 $(category).parents('ul').parent('ul').find('a').removeClass('highlight');
						 $(category).addClass('highlight');
						 
						 window.location = '/goalkeepinmanager/category/createNewCategory';
						 return;
					 } else {
						 return;
					 }
				 }
				 
				 $('.forRecruiting').fadeIn('slow');
				 $('.forRecruiting input').attr('required', 'required');
				 
				 $('<li><a href="#" class="btn btn-primary">Cancel</a></li>')
				 .appendTo('#headerBtn')
				 .siblings('li')
				 .hide()
				 .end()
				 .click(function() {
					 $(this)
					 	.siblings('li')
					 	.show()
					 	.end()
					 	.remove();
					 $('.forRecruiting').fadeOut('slow');
					 $('.forRecruiting input').removeAttr('required');
				 });
			 });
			 
			 // 인증 가능 요일 라디오 처리
			 $('input[name=baseAuthDateCd]').change(function() {
				var daysArr = [5, 2, 7];
				for(var i=0; i<daysArr.length; i++) {
					if($('#baseAuthDateCd' + (i+1)).prop('checked')) {
						$('#baseAuthFrequency').val(daysArr[i]);
					}	
				}
			 });
			 
			 // 인증 빈도 입력 처리
			 $('#baseAuthFrequency').blur(function() {
				 $baseAuthDateCd = $('[name=baseAuthDateCd]');
				 var $checkedDateCd = $baseAuthDateCd.filter(':checked');
				 
				 if($checkedDateCd.length > 0) {
					 var maxDayIndex = $baseAuthDateCd.index($checkedDateCd);
					 
					 var daysArr = [5, 2, 7];
					 var maxDay = daysArr[maxDayIndex];
					 if(parseInt($(this).val()) > maxDay) {
						 $(this).val(maxDay);
					 }
				 }
			 });
			 
			 // 24시간 체크박스 처리 
			 $('#allHours').change(function() {
				if($(this).prop('checked')) {
					$('#timePeriod').hide();
					
					$('#baseAuthFromTimeHour').val('00');
					$('#baseAuthFromTimeMinute').val('00');
					$('#baseAuthToTimeHour').val('23');
					$('#baseAuthToTimeMinute').val('59');
					
					$('#baseAuthFromTime').val('00:00:00');
					$('#baseAuthToTime').val('23:59:59');
				} else {
					 $('#timePeriod').show();
					 
					if(baseAuthFromTime != null) {
						var fromTimeHour = baseAuthFromTime.substring(0, 2);
						var fromTimeMinute = baseAuthFromTime.substring(3, 5);
						var toTimeHour = baseAuthToTime.substring(0, 2);
						var toTimeMinute = baseAuthToTime.substring(3, 5);
						
						$('#baseAuthFromTimeHour').val(fromTimeHour);
						$('#baseAuthFromTimeMinute').val(fromTimeMinute);
						$('#baseAuthToTimeHour').val(toTimeHour);
						$('#baseAuthToTimeMinute').val(toTimeMinute);
					}
				}
			 });
			 
			 // 인증샷 간격 제한없음 체크박스 처리
			 $('#noLimit').change(function() {
				 if($(this).prop('checked')) {
					 $('#intervalItem').hide();
					 $('#baseAuthInterval').val('0');
				 } else {
					 $('#intervalItem').show();
					 $('#baseAuthInterval').val('');
				 }
			 });
			 
			 // 유효성 체크
			 function validateCheck($input, msg) {
				 var val = $input.val();
				 if(val == '') {
					 alert(msg);
					 $input.focus();
					 return false;
				 }
				 
				 return true;
			 }
			 
			 // 인증방식 처리: 사진일때만 앱범 사용 여부 영역 보여줌
			 $('input[name=baseAuthMethodCd]').change(function() {
				 if($(this).val() == 'AU01') {
					 $('#albumAvailability').show(500);
					 $('input[name=baseAuthIsAlbum]').attr('required', 'required');
				 } else {
					 $('#albumAvailability').hide();
					 $('input[name=baseAuthIsAlbum]').removeAttr('required');
				 }
				 
			 });
			 
			 // 하단 모집 시작하기 버튼 처리
			 $('#createChallengeDetail').click(function(e) {
				 
				 if(!validateCheck($('#minFee'), 'Please enter minimum fee.')) {
					 return false;
				 }
				 
				 if(!validateCheck($('#maxFee'), 'Please enter maximum fee.')) {
					 return false;
				 }
				 
				 if(!validateCheck($('#startDate'), 'Please enter start date.')) {
					 return false;
				 }
				 
				 if(!validateCheck($('#endDate'), 'Please enter end date.')) {
					 return false;
				 }
				 
				 var minFee = parseInt($('#minFee').val());
				 var maxFee = parseInt($('#maxFee').val());
				 
				 if(minFee < 0) {
					 alert("Minimum participation fee can't be negative value.");
					 $('#minFee').focus();
					 return false;
				 }
				 
				 if(maxFee < 0) {
					 alert("Maximum participation fee can't be negative value.");
					 $('#maxFee').focus();
					 return false;
				 }
				 
				 if(maxFee < minFee) {
					 alert("Maximum participation fee must be greater than minimum participation fee.")
					 $('#minFee').focus();
					 return false;
				 }
				 
				 var startDateVal = $('#startDate').val();
				 var endDateVal = $('#endDate').val();
				 
				 
				 if(startDateVal < minStartDate) {
					 alert('Start date is invalid.');
					 $('#startDate').focus();
					 return false;
				 }
				 
				 if(endDateVal < minEndDate) {
					 alert('End date is invalid.');
					 $('#endDate').focus();
					 return false;
				 }
				 
				 if(startDateVal >= endDateVal) {
					 alert('End date must be later than start date.');	
					 $('#startDate').focus();
					 return false;
				 }
				 
				 if(confirm('Are you sure to start a project?')) {
					 $.ajax({ url: '/goalkeepinmanager/challenge/createNewOperatedChallenge',  
						 data: {
							 baseChallengeNo: $('#baseNo').val(),
							 categoryNo: $('#categoryNo').val(),
							 gradeCd: $('#gradeCd').val(),
							 minFee: $('#minFee').val(),
							 maxFee: $('#maxFee').val(),
							 startDate: $('#startDate').val(),
							 endDate: $('#endDate').val(),
							 baseAuthDateCd: $('input[name=baseAuthDateCd]:checked').val(),
							 baseAuthFrequency: $('#baseAuthFrequency').val(),
							 baseAuthNumDaily: $('#baseAuthNumDaily').val()
			 			 },  
						 method: "POST",  
						 dataType: "text", 
						 beforeSend : function(xhr) {
						    xhr.setRequestHeader(header, token);
							}
						 })
						 .done(function(json) { 
							 window.location = '/goalkeepinmanager/challenge/showOperatedChallengeList/1?baseNo=' + $('#baseNo').val(); 
						 });
				 	}
				 });

			 // 등록한 챌린지 목록 버튼 처리
			 $('#showOperatedChallengeList').click(function() {
				 window.location = '/goalkeepinmanager/challenge/showOperatedChallengeList/1?baseNo=' + $('#baseNo').val();
			 });
			 
			 $('#createChallenge, #doModifyChallengeDetail').click(function(e) {
				 
				  checked = $("input[name=baseHabitTypeItem]:checked").length;

			      if(!checked) {
			        alert("At lease one habit type needs to be selected.");
			        $('#Health').focus();
			        return false;
			      }
			      
			      if($('input[name=baseAuthMethodCd]:checked').val() == 'AU02') {
			    	  $('input[name=baseAuthIsAlbum]').val(0);
			      }
			 });
			 
			 $('#doModifyChallengeDetail').click(function(e) {
				 processHabitType();
			 });
			 
			 $('#challengeForm').submit(function(e) {
				 
				 if(!$('#allHours').prop('checked')) {
					 var fromTime = $('#baseAuthFromTimeHour').val() + ':' + $('#baseAuthFromTimeMinute').val() + ':00'; 
					 var toTime = $('#baseAuthToTimeHour').val() + ':' + $('#baseAuthToTimeMinute').val() + ':00';
					 
					 $('#baseAuthFromTime').val(fromTime);
					 $('#baseAuthToTime').val(toTime);
					 
					 if(fromTime > toTime) {
						 alert("Start verification time can't be earlier than end verification time.")
						 $('#baseAuthFromTimeHour').focus();
						 e.preventDefault();
						 return;
					 }
				 }
				 
				 return confirm('Are you sure to save the challenge infomation?');
			 });
			 
			 document.querySelectorAll('#timePeriod input[type=number]')
			  .forEach(e => e.oninput = () => {
			    // Always 2 digits
			    if (e.value.length >= 2) e.value = e.value.slice(0, 2);
			    // 0 on the left (doesn't work on FF)
			    if (e.value.length === 1) e.value = '0' + e.value;
			    // Avoiding letters on FF
			    if (!e.value) e.value = '00';
			  });
		});
	</script>
</body>
</html>