<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Challenge Review List</title>
<link rel="stylesheet" href="../../dataTable.css" />
<link rel="stylesheet" href="../../pagination.css" />
</head>
<body>
	<div class="header">
		<h1>
			리뷰 목록
		</h1>
	</div>
	<table class="dataTable" id="detailTable">
		<thead>
			<tr>
				<th>NO</th>
				<th>아이디</th>
				<th>닉네임</th>
				<th>내용</th>
				<th>등록 일자</th>
			</tr>
		</thead>
	
		<tr th:each="review: ${reviewList}">
			<td th:text="${review.reviewNo}">NO</td>
			<td th:text="${review.user.userId}">User Id</td>
			<td th:text="${review.user.nickName}">Nick Name</td>
			<td th:text="${review.reviewContent}" style="width: 400px;">Review Content</td>
			<td th:text="*{#dates.format(review.reviewRegDate, 'yyyy.MM.dd HH:mm:ss')}">Review Reg Date</td>
		</tr>
	</table>
	
	<div id="pagination" th:if="${paging.totalPages > 1}">
		<span th:each="i: ${#numbers.sequence(1, paging.totalPages)}">
			<a th:href="@{'/challenge/showReviewListByChallenge/' + ${i} + '?operatedNo=' + ${operatedNo}}" th:text="${i}"></a>
		</span>
	</div>
	
	<script type="text/javascript" src="../../jquery.js"></script>
	<script type="text/javascript" src="../../dataTable.js"></script>
	<script type="text/javascript">
		$(function() {
					
		});
	</script>
</body>
</html>