<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Operated Challenge List</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}">
<style type="text/css">
.row {
	margin: 15px 0 0 0;
}

</style>
</head>
<body>
	<div class="row">
		<header class="col-md-12">
			<h1 class="brand pull-left h3">Project management - <span style="color: midnightblue;" th:text="*{baseChallengeNmEn}"></span></h1>
		</header>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<table id="detailTable" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<h2 class="h5 text-center">NO</h2>
						</th>
						<th>
							<h2 class="h5 text-center sortable" id="operatedChallengeNo">Sub Project ID</h2>
						</th>
						<th>
							<h2 class="h5 text-center">Name of Project</h2>
						</th>
						<th>
							<h2 class="h5 text-center sortable" id="startDate">Start date</h2>
						</th>
						<th>
							<h2 class="h5 text-center sortable" id="endDate">End date</h2>
						</th>
						<th>
							<h2 class="h5 text-center sortable" id="entryNum">Number of participants</h2>
						</th>
						<th>
							<h2 class="h5 text-center sortable" id="statusCd">Status</h2>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="*{page.totalRecordNum > 0}" class="text-center" th:each="operatedChallenge: ${page.pageData}" style="cursor: pointer;" th:id="${operatedChallenge.operatedChallengeNo}">
						<td th:text="${operatedChallenge.operatedChallengeNo}">NO</td>
						<td th:text="${'no.' + operatedChallenge.operatedChallengeNo}">Operated No</td>
						<td th:text="*{baseChallengeNmEn}">Challenge Name</td>
						<td th:text="${operatedChallenge.startDate}">Start Date</td>
						<td th:text="${operatedChallenge.endDate}">End Date</td>
						<td th:text="${operatedChallenge.entryNum}">Entry Number</td>
						<td th:if="${operatedChallenge.statusCd == 'CH01'}" style="color: blue;">Recruiting</td>
						<td th:if="${operatedChallenge.statusCd == 'CH02'}" style="color: green;">Ongoing</td>
						<td th:if="${operatedChallenge.statusCd == 'CH03'}" style="color: red;">Completed</td>
					</tr>
					<tr th:if="*{page.totalRecordNum == 0}">
						<td colspan="6" class="text-center">
							<h2 class="h5">No Data Found</h2>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div th:if="${page.totalPageNum > 0}" class="row text-center">
		<nav aria-label="Page navigation">
			<ul class="pagination" id="pagination">
				<li th:if="${page.totalPageNum > 10 and page.pageNum == 1}">
					<a class="page-link">&lt;&lt;</a>
				</li>
				<li th:if="${page.totalPageNum > 10 and page.pageNum > 1}">
					<a class="page-link" th:href="@{'/challenge/showOperatedChallengeList/1?baseNo=' + ${baseNo}}">&lt;&lt;</a>
				</li>
				<li th:if="${page.pageNum == 1}">
					<a class="page-link">&lt;</a>
				</li>
				<li th:if="${page.pageNum > 1}">
					<a class="page-link" th:href="@{'/challenge/showOperatedChallengeList/' + ${pageNum - 1} + '?baseNo=' + ${baseNo}}">&lt;</a>
				</li>
				<li th:each="i: ${#numbers.sequence(page.firstPageNum, page.lastPageNum)}" class="page-item page-no" th:classappend="${page.pageNum == i} ? 'active' : ''">
					<a class="page-link" th:href="@{'/challenge/showOperatedChallengeList/' + ${i} + '?baseNo=' + ${baseNo}}" th:text="${i}"></a>
				</li>
				<li th:if="${page.pageNum == page.totalPageNum}">
					<a class="page-link">&gt;</a>
				</li>
				<li th:if="${page.pageNum < page.totalPageNum}">
					<a class="page-link" th:href="@{'/challenge/showOperatedChallengeList/' + ${pageNum + 1} + '?baseNo=' + ${baseNo}}">&gt;</a>
				</li>
				<li th:if="${page.totalPageNum > 10 and page.pageNum == page.totalPageNum}">
					<a class="page-link">&gt;&gt;</a>
				</li>
				<li th:if="${page.totalPageNum > 10 and page.pageNum < page.totalPageNum}">
					<a class="page-link" th:href="@{'/challenge/showOperatedChallengeList/' + ${page.totalPageNum} + '?baseNo=' + ${baseNo}}">&gt;&gt;</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script th:inline="javascript">
		var totalRecordNum = /*[[*{page.totalRecordNum}]]*/;
		var pageSize = /*[[*{page.pageSize}]]*/;
		
		var sortField = /*[[*{sortField}]]*/ null;
		var sortOrder = /*[[*{sortOrder}]]*/ null;
		
		var baseNo = /*[[*{baseNo}]]*/ 0;
	</script>
	<script type="text/javascript" th:src="@{/js/tableNo.js}"></script>
	<script type="text/javascript">
		$(function() {
			$('#detailTable tr:gt(0)[id]').click(function() {
				window.location = '/goalkeepinmanager/challenge/showOperatedChallengeDetail?operatedNo=' + $(this).attr('id');
			});
			
			addSortLink('/goalkeepinmanager/challenge/showOperatedChallengeList/1?baseNo=' + baseNo);
		});
	</script>
</body>
</html>