<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Goal Keepin</title>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-lite.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}">
<style>
header a, header li {
	margin-top: 10px;
	color: #777;
	font-weight: bold;
}

.row {
	margin: 15px 0 0 0;
}

header li {
	margin-left: 5px;
}

#thumbnailImg img {
	border: 1px solid gray;
	display: block;
	max-width: 200px;
	max-height: 200px;
	width: auto;
	height: auto;
}

#authMethod .col-md-3 span {
	font-weight: bold;
}

.view {
	margin-left: 10px;
}

#detailArea>div {
	margin-right: 2%;
}
</style>
<body style="padding-bottom: 40px;">
	<div class="row">
		<header class="col-md-12">
			<h1 class="brand pull-left h3">Project details</h1>
			<ul class="list-inline list-unstyled pull-right">
				<li th:if="*{participantCount > 0}"><a class="btn btn-primary" id="showParticipantList" th:href="@{/challenge/showParticipantList/1(operatedNo=*{operatedChallenge.operatedChallengeNo})}" th:text="*{'Participants list(' + participantCount + ')'}"></a></li>
				<li th:if="*{participantCount == 0}"><a class="btn btn-danger" style="cursor: default;">No Participant</a></li>
				<li th:if="*{participantCount > 0 and challengeProofCount > 0}"><a class="btn btn-primary" id="showProofShotList" th:href="@{/challenge/showAllProofShotsByChallenge(operatedNo=*{operatedChallenge.operatedChallengeNo})}" th:text="*{'View verifications(' + challengeProofCount + ')'}"></a></li>
				<li th:if="*{participantCount > 0 and challengeProofCount == 0}"><a class="btn btn-danger" style="cursor: default;">No Verification</a></li>
				<li th:if="*{operatedChallenge.statusCd == 'CH03' and reviewCount > 0}"><a th:href="@{/challenge/showReviewListByChallenge/1(operatedNo=*{operatedChallenge.operatedChallengeNo})}" class="btn btn-primary" th:text="*{'Review List(' + reviewCount + ')'}"></a></li>
				<li th:if="*{operatedChallenge.statusCd == 'CH03' and reviewCount == 0}"><a class="btn btn-danger" style="cursor: default;">No Review</a></li>
				<li th:if="*{operatedChallenge.statusCd == 'CH01'}"><a id="cancelProject" class="btn btn-danger">Cancel</a></li>
				<li th:if="*{operatedChallenge.statusCd == 'CH02'}"><a id="abortProject" class="btn btn-danger">Abort</a></li>
			</ul>
		</header>
	</div>

	<div th:object="${operatedChallenge}">
		<section id="middlePart">
			<div class="row">
				<div class="col-md-6">
					<h3 class="h5">Name of Project</h3>
					<span th:text="*{baseChallenge.baseNmEn}" style="margin-right: 20px;"></span> <span th:if="*{statusCd == 'CH01'}" th:text="Recruiting" class="btn btn-info" style="cursor: default;"></span> <span th:if="*{statusCd == 'CH02'}" th:text="Ongoing" class="btn btn-success" style="cursor: default;"></span> <span th:if="*{statusCd == 'CH03'}" th:text="Completed" class="btn btn-danger" style="cursor: default;"></span>
				</div>
				<div class="col-md-6">
					<h3 class="h5">Registration Date</h3>
					<span th:text="*{#dates.format(regDate, 'MM.dd.yyyy HH:mm:ss')}"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<h3 class="h5">Habit type</h3>
					<span th:text="*{baseChallenge.searchKeyword}">Base Habit Type Text</span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4" id="thumbnailImg">
					<h3 class="h5">Thumbnail image</h3>
					<img th:src="*{baseChallenge.baseThumbnailUrl}" class="view" style="margin-left: 100px;">
				</div>
				<div class="col-md-4">
					<h3 class="h5">Category setting</h3>
					<span th:if="*{category.categoryNo != 0}" th:text="*{category.categoryNmEn}"></span> <span th:if="*{category.categoryNo == 0}">No category</span>
				</div>
				<div class="col-md-4">
					<h3 class="h5">Level Restriction</h3>
					<span th:if="*{gradeCd} == 'LV00'" th:text="${T(goalKeepin.constants.ChallengeGrade).LV00.gradeName}"></span> <span th:if="*{gradeCd} == 'LV02'" th:text="${T(goalKeepin.constants.ChallengeGrade).LV02.gradeName}"></span> <span th:if="*{gradeCd} == 'LV03'" th:text="${T(goalKeepin.constants.ChallengeGrade).LV03.gradeName}"></span> <span th:if="*{gradeCd} == 'LV04'" th:text="${T(goalKeepin.constants.ChallengeGrade).LV04.gradeName}"></span> <span th:if="*{gradeCd} == 'LV05'"
						th:text="${T(goalKeepin.constants.ChallengeGrade).LV05.gradeName}"></span> <span th:if="*{gradeCd} == 'LV06'" th:text="${T(goalKeepin.constants.ChallengeGrade).LV06.gradeName}"></span> <span th:if="*{gradeCd} == 'LV07'" th:text="${T(goalKeepin.constants.ChallengeGrade).LV07.gradeName}"></span> <span th:if="*{gradeCd} == 'LV08'" th:text="${T(goalKeepin.constants.ChallengeGrade).LV08.gradeName}"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<h3 class="h5">Minimum participation fee (SGD)</h3>
					<span th:text="*{minFee}"></span>
				</div>
				<div class="col-md-4">
					<h3 class="h5">Maximum participation fee (SGD)</h3>
					<span th:text="*{maxFee}"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<h3 class="h5">Start date</h3>
					<span th:text="*{startDate}"></span>
				</div>
				<div class="col-md-4">
					<h3 class="h5">End date</h3>
					<span th:text="*{endDate}"></span>
				</div>
			</div>
		</section>

		<div class="row">
			<div class="col-md-12">
				<h2 class="h3">Verification Method</h2>
			</div>
		</div>
		<section id="bottomPart">
			<section id="authMethod">
				<div class="row">
					<div class="col-md-3">
						<span>Available day for verification</span>
					</div>
					<div class="col-md-9">
						<span th:if="*{baseChallenge.baseAuthDateCd == 'AD01'}" th:text="'Mon/Tue/Wed/Thu/Fri'"></span> <span th:if="*{baseChallenge.baseAuthDateCd == 'AD02'}" th:text="'Sat/Sun'"></span> <span th:if="*{baseChallenge.baseAuthDateCd == 'AD03'}" th:text="'Mon/Tue/Wed/Thu/Fri/Sat/Sun'"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<span>Verification Frequency</span>
					</div>
					<div class="col-md-9">
						<span th:text="*{baseChallenge.baseAuthFrequency}"></span> <span th:if="*{(baseChallenge.baseAuthDateCd == 'AD01' and baseChallenge.baseAuthFrequency == 5)
										or (baseChallenge.baseAuthDateCd == 'AD02' and baseChallenge.baseAuthFrequency == 2)
										or (baseChallenge.baseAuthDateCd == 'AD03' and baseChallenge.baseAuthFrequency == 7)}" th:text="'(Everyday)'"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<span>Available time period for verification</span>
					</div>
					<div class="col-md-9">
						<span th:text="*{baseChallenge.baseAuthFromTime}"></span> ~ <span th:text="*{baseChallenge.baseAuthToTime}"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<span>Number of verification per day</span>
					</div>
					<div class="col-md-9">
						<span th:text="*{baseChallenge.baseAuthNumDaily}"></span> Times
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<span>Verification Method</span>
					</div>
					<div class="col-md-9">
						<span th:if="*{baseChallenge.baseAuthMethodCd == 'AU01'}" th:text="'Photo'"></span> <span th:if="*{baseChallenge.baseAuthMethodCd == 'AU02'}" th:text="'Voice'"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<span>Contents Privacy</span>
					</div>
					<div class="col-md-9">
						<span th:if="*{baseChallenge.baseAuthIsOpen == 1}" th:text="'Public'"></span> <span th:if="*{baseChallenge.baseAuthIsOpen == 0}" th:text="'Private'"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<span>Verification Frequency</span>
					</div>
					<div class="col-md-9">
						<span th:if="*{baseChallenge.baseAuthInterval != 0}" th:text="*{baseChallenge.baseAuthInterval} + 'Hours'"></span> <span th:if="*{baseChallenge.baseAuthInterval == 0}" th:text="'No limit'"></span>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						<span>Photo album Availability</span>
					</div>
					<div class="col-md-9">
						<span th:if="*{baseChallenge.baseAuthIsAlbum == 1}" th:text="'Possible'"></span> <span th:if="*{baseChallenge.baseAuthIsAlbum == 0}" th:text="'Impossible'"></span>
					</div>
				</div>
			</section>

			<section id="challengeDetail">
				<div class="row">
					<div class="col-md-12">
						<h3 class="h5">Detailed Description (English)</h3>
						<div class="col-md-10">
							<div class="view" th:text="*{baseChallenge.baseAuthDescEn}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="h5">Detailed Description (Traditional)</h3>
						<div class="col-md-10">
							<div class="view" th:text="*{baseChallenge.baseAuthDescTc}"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<h3 class="h5">Detailed Description (Simplified)</h3>
						<div class="col-md-10">
							<div class="view" th:text="*{baseChallenge.baseAuthDescSc}"></div>
						</div>
					</div>
				</div>
			</section>
		</section>

		<section id="detailArea">
			<div class="row">
				<h2 class="h5">Project details (English)</h2>
				<textarea id="baseDetailEn" class="summernote" th:field="*{baseChallenge.baseDetailEn}" required="required"></textarea>
			</div>
			<div class="row">
				<h2 class="h5">Project details (Traditional)</h2>
				<textarea id="baseDetailTc" class="summernote" th:field="*{baseChallenge.baseDetailTc}" required="required"></textarea>
			</div>
			<div class="row">
				<h2 class="h5">Project details (Simplified)</h2>
				<textarea id="baseDetailSc" class="summernote" th:field="*{baseChallenge.baseDetailSc}" required="required"></textarea>
			</div>
		</section>

	</div>
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/summernote-lite.min.js}"></script>
	<script th:inline="javascript">
    	var operatedChallengeNo = /*[[*{operatedChallenge.operatedChallengeNo}]]*/ null;
	</script>
	<script type="text/javascript">
		$(function() {
			$('.summernote').summernote({
		        tabsize: 2,
		        height: 300,
		        disableDragAndDrop: true,
		        toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'italic', 'clear']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                    ]
		      });
			
			 $('#baseDetailEn').summernote('disable');
			 $('#baseDetailTc').summernote('disable');
			 $('#baseDetailSc').summernote('disable');
		});
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		$('#cancelProject').click(function() {
			if(confirm('Are you sure to cancel this project?')) {
				$.ajax({ url: '/goalkeepinmanager/challenge/cancelProject',  
					 data: {
						 operatedChallengeNo: operatedChallengeNo
		 			 },
					 method: "POST",  
					 dataType: "text", 
					 beforeSend : function(xhr) {
					    xhr.setRequestHeader(header, token);
						}
					 })
					 .done(function(json) { 
						 window.location = '/goalkeepinmanager/challenge/showOperatedChallengeListByStatus/recruiting/1?hibitTypeCd=HT00';
					 })
					 .fail(function() {
						 alert('Error cancelling the project.')
					 });
			}
		});
		
		$('#abortProject').click(function() {
			if(confirm('Are you sure to abort this project?')) {
				$.ajax({ url: '/goalkeepinmanager/challenge/abortProject',  
					 data: {
						 operatedChallengeNo: operatedChallengeNo
		 			 },
					 method: "POST",  
					 dataType: "text", 
					 beforeSend : function(xhr) {
					    xhr.setRequestHeader(header, token);
						}
					 })
					 .done(function(json) { 
						 window.location = '/goalkeepinmanager/challenge/showOperatedChallengeListByStatus/ongoing/1?hibitTypeCd=HT00';
					 })
					 .fail(function() {
						 alert('Error aborting the project.');
					 });
			}
	});
		
	</script>
</body>
</html>