<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Operated Challenge List</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<style type="text/css">
.row {
	margin: 15px 0 0 0;
}

</style>
</head>
<body style="background-color: rgb(245, 247, 250);">
	<div class="row">
		<header class="col-md-12">
			<h1 class="brand pull-left h3">Project management - <span style="color: midnightblue;" th:text="*{baseChallengeNmEn}"></span></h1>
		</header>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<table id="detailTable" class="table table-striped table-hover">
				<thead>
					<tr class="info">
						<th>
							<h2 class="h5 text-center">NO</h2>
						</th>
						<th>
							<h2 class="h5 text-center">Name of Project</h2>
						</th>
						<th>
							<h2 class="h5 text-center">Start date</h2>
						</th>
						<th>
							<h2 class="h5 text-center">End date</h2>
						</th>
						<th>
							<h2 class="h5 text-center">Number of participants</h2>
						</th>
						<th>
							<h2 class="h5 text-center">Status</h2>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" th:each="operatedChallenge: ${operatedChallengeList}" style="cursor: pointer;" th:id="${operatedChallenge.operatedChallengeNo}">
						<td th:text="${operatedChallenge.operatedChallengeNo}">NO</td>
						<td th:text="*{baseChallengeNmEn}">Challenge Name</td>
						<td th:text="${operatedChallenge.startDate}">Start Date</td>
						<td th:text="${operatedChallenge.endDate}">End Date</td>
						<td th:text="${operatedChallenge.entryNum}">Entry Number</td>
						<td th:if="${operatedChallenge.statusCd == 'CH01'}" style="color: blue;">Recruiting</td>
						<td th:if="${operatedChallenge.statusCd == 'CH02'}" style="color: green;">Ongoing</td>
						<td th:if="${operatedChallenge.statusCd == 'CH03'}" style="color: red;">Completed</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row text-center" th:if="${paging.totalPages > 0}">
		<nav aria-label="Page navigation example">
			<ul class="pagination" id="pagination">
				<li th:each="i: ${#numbers.sequence(1, paging.totalPages)}" class="page-item" th:classappend="${paging.currentPageNum == i} ? 'active' : ''">
					<a th:text="${i}" class="page-link" th:href="@{'/challenge/showOperatedChallengeList/' + ${i} + '?baseNo=' + ${baseNo}}"></a>
				</li>
			</ul>
		</nav>
	</div>
	
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/tableNo.js}"></script>
	<script type="text/javascript">
		$(function() {
			$('#detailTable tr:gt(0)').click(function() {
				window.location = '/goalkeepinmanager/challenge/showOperatedChallengeDetail?operatedNo=' + $(this).attr('id');
			});			
		});
	</script>
</body>
</html>