<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Operated Challenge List</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}">
<style type="text/css">
header li {
	margin-top: 30px;
	color: #777;
	font-weight: bold;
	color: #777
}

.row {
	margin: 15px 0 0 0;
}


</style>
</head>
<body>
	<div class="row">
		<header class="col-md-12">
			<h1 class="brand pull-left h3">Project management -
				<span th:if="*{statusCd == 'CH01'}">Recruiting projects</span>
				<span th:if="*{statusCd == 'CH02'}">Ongoing projects</span>
				<span th:if="*{statusCd == 'CH03'}">Completed projects</span>
			</h1>
			<ul class="list-inline list-unstyled pull-right">
				<li>
					<select name="baseHabitTypeCd" id="baseHabitTypeCd">
						<option value="HT00">ALL</option>
						<option th:each="habitType: ${T(goalKeepin.constants.BaseHabitType).values()}" th:value="${habitType}" th:text="${habitType.baseHabitTypeName}"></option>
					</select> 
				</li>
			</ul>
		</header>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<table id="statusTable" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<h2 class="h5 text-center">NO</h2>
						</th>
						<th>
							<h2 class="h5 text-center sortable" id="baseNmEn">Name of Project</h2>
						</th>
						<th>
							<h2 class="h5 text-center sortable" id="startDate">Start date</h2>
						</th>
						<th>
							<h2 class="h5 text-center sortable" id="endDate">End date</h2>
						</th>
						<th>
							<h2 class="h5 text-center sortable" id="entryNum">Number of participants</h2>
						</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:if="${page.totalRecordNum > 0}" class="text-center" th:each="operatedChallenge: ${page.pageData}" style="cursor: pointer;" th:id="${operatedChallenge.operatedChallengeNo}">
						<td th:text="${operatedChallenge.operatedChallengeNo}">NO</td>
						<td th:text="${operatedChallenge.baseChallenge.baseNmEn}">Challenge Name</td>
						<td th:text="${operatedChallenge.startDate}">Start Date</td>
						<td th:text="${operatedChallenge.endDate}">End Date</td>
						<td th:text="${operatedChallenge.entryNum}">Entry Number</td>
					</tr>
					<tr th:if="${page.totalRecordNum == 0}">
						<td colspan="5" class="text-center">
							<h5>No Data Found</h5>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row text-center" th:if="${page.totalPageNum > 0}">
		<nav aria-label="Page navigation">
			<ul class="pagination" id="pagination">
				<li th:if="${page.totalPageNum > 10 and page.pageNum == 1}">
					<a class="page-link">&lt;&lt;</a>
				</li>
				<li th:if="${page.totalPageNum > 10 and page.pageNum > 1}">
					<a th:if="*{statusCd == 'CH01'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/recruiting/1?habitTypeCd=' + ${habitTypeCd}}">&lt;&lt;</a>
					<a th:if="*{statusCd == 'CH02'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/ongoing/1?habitTypeCd=' + ${habitTypeCd}}">&lt;&lt;</a>
					<a th:if="*{statusCd == 'CH03'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/expired/1?habitTypeCd=' + ${habitTypeCd}}">&lt;&lt;</a>
				</li>
				<li th:if="${page.pageNum == 1}">
					<a class="page-link">&lt;</a>
				</li>
				<li th:if="${page.pageNum > 1}">
					<a th:if="*{statusCd == 'CH01'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/recruiting/' + ${pageNum - 1} + '?habitTypeCd=' + ${habitTypeCd}}">&lt;</a>
					<a th:if="*{statusCd == 'CH02'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/ongoing/' + ${pageNum - 1} + '?habitTypeCd=' + ${habitTypeCd}}">&lt;</a>
					<a th:if="*{statusCd == 'CH03'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/expired/' + ${pageNum - 1} + '?habitTypeCd=' + ${habitTypeCd}}">&lt;</a>
				</li>
				<li th:each="i: ${#numbers.sequence(page.firstPageNum, page.lastPageNum)}" class="page-item page-no" th:classappend="${page.pageNum == i} ? 'active' : ''">
					<a th:if="*{statusCd == 'CH01'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/recruiting/' + ${i} + '?habitTypeCd=' + ${habitTypeCd}}" th:text="${i}"></a>
					<a th:if="*{statusCd == 'CH02'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/ongoing/' + ${i} + '?habitTypeCd=' + ${habitTypeCd}}" th:text="${i}"></a>
					<a th:if="*{statusCd == 'CH03'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/expired/' + ${i} + '?habitTypeCd=' + ${habitTypeCd}}" th:text="${i}"></a>
				</li>
				<li th:if="${page.pageNum == page.totalPageNum}">
					<a class="page-link">&gt;</a>
				</li>
				<li th:if="${page.pageNum < page.totalPageNum}">
					<a th:if="*{statusCd == 'CH01'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/recruiting/' + ${pageNum + 1} + '?habitTypeCd=' + ${habitTypeCd}}">&gt;</a>
					<a th:if="*{statusCd == 'CH02'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/ongoing/' + ${pageNum + 1} + '?habitTypeCd=' + ${habitTypeCd}}">&gt;</a>
					<a th:if="*{statusCd == 'CH03'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/expired/' + ${pageNum + 1} + '?habitTypeCd=' + ${habitTypeCd}}">&gt;</a>
				</li>
				<li th:if="${page.totalPageNum > 10 and page.pageNum == page.totalPageNum}">
					<a class="page-link">&gt;&gt;</a>
				</li>
				<li th:if="${page.totalPageNum > 10 and page.pageNum < page.totalPageNum}">
					<a th:if="*{statusCd == 'CH01'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/recruiting/' + ${page.totalPageNum} + '?habitTypeCd=' + ${habitTypeCd}}">&gt;&gt;</a>
					<a th:if="*{statusCd == 'CH02'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/ongoing/' + ${page.totalPageNum} + '?habitTypeCd=' + ${habitTypeCd}}">&gt;&gt;</a>
					<a th:if="*{statusCd == 'CH03'}" class="page-link" th:href="@{'/challenge/showOperatedChallengeListByStatus/expired/' + ${page.totalPageNum} + '?habitTypeCd=' + ${habitTypeCd}}">&gt;&gt;</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script th:inline="javascript">
		var totalRecordNum = /*[[*{page.totalRecordNum}]]*/;
		var pageSize = /*[[*{page.pageSize}]]*/;
		
		var sortField = /*[[*{sortField}]]*/ null;
		var sortOrder = /*[[*{sortOrder}]]*/ null;
	</script>
	<script type="text/javascript" th:src="@{/js/tableNo.js}"></script>
	<script th:inline="javascript">
		var statusCd = /*[[*{statusCd}]]*/ null;
		var status;
		if(statusCd == 'CH01') {
			status = 'recruiting';
		} else if(statusCd == 'CH02') {
			status = 'ongoing';
		} else {
			status = 'expired';
		}
		
		var selectedHabitTypeCd = /*[[*{habitTypeCd}]]*/ null;
	</script>
	<script type="text/javascript">
		$(function() {
			$('#baseHabitTypeCd').val(selectedHabitTypeCd);
			$('#statusTable tr:gt(0)[id]').click(function() {
				window.location = '/goalkeepinmanager/challenge/showOperatedChallengeDetail?operatedNo=' + $(this).attr('id');
			});
			
			$('#baseHabitTypeCd').change(function() {
				window.location = '/goalkeepinmanager/challenge/showOperatedChallengeListByStatus/' + status + '/1?habitTypeCd=' + $(this).val();
			});
			
			addSortLink('/goalkeepinmanager/challenge/showOperatedChallengeListByStatus/' + status + '/1?habitTypeCd=' + $('#baseHabitTypeCd').val());
		});
	</script>
</body>
</html>