<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Operated Challenge List</title>
<link rel="stylesheet" href="../../dataTable.css" />
<link rel="stylesheet" href="../../pagination.css" />
</head>
<body>
	<div class="header">
		<h1>
			챌린지 관리 - <span th:text=*{baseChallengeNmEn}></span>
		</h1>
	</div>
	<table class="dataTable" id="detailTable">
		<thead>
			<tr>
				<th>NO</th>
				<th>챌린지 명</th>
				<th>시작일</th>
				<th>종료일</th>
				<th>참여자 수</th>
				<th>상태</th>
			</tr>
		</thead>
	
		<tr th:each="operatedChallenge: ${operatedChallengeList}" style="cursor: pointer;" th:id="${operatedChallenge.operatedChallengeNo}">
			<td th:text="${operatedChallenge.operatedChallengeNo}">NO</td>
			<td th:text="*{baseChallengeNmEn}">Challenge Name</td>
			<td th:text="${operatedChallenge.startDate}">Start Date</td>
			<td th:text="${operatedChallenge.endDate}">End Date</td>
			<td th:text="${operatedChallenge.entryNum}">Entry Number</td>
			<td th:if="${operatedChallenge.statusCd == 'CH01'}">모집중</td>
			<td th:if="${operatedChallenge.statusCd == 'CH02'}">진행중</td>
			<td th:if="${operatedChallenge.statusCd == 'CH03'}">완료</td>
		</tr>
	</table>
	
	<div id="pagination" th:if="${paging.totalPages > 1}">
		<span th:each="i: ${#numbers.sequence(1, paging.totalPages)}">
			<a th:href="@{'/challenge/showOperatedChallengeList/' + ${i} + '?baseNo=' + ${baseNo}}" th:text="${i}"></a>
		</span>
	</div>
	
	<script type="text/javascript" src="../../jquery.js"></script>
	<script type="text/javascript" src="../../dataTable.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#detailTable tr:gt(0)').click(function() {
				window.location = '/challenge/showOperatedChallengeDetail?operatedNo=' + $(this).attr('id');
			});			
		});
	</script>
</body>
</html>