<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Category List</title>
<link rel="stylesheet" href="../../bootstrap.css">
<style type="text/css">
header a, header li {
	margin-top: 10px;
	margin-right: 3.2em;
	color: #777;
	font-weight: bold;
	color: #777
}

.row {
	margin: 15px 0 0 0;
}
</style>
</head>
<body>
	<div class="row">
		<header class="col-md-11 col-md-offset-1">
			<h1 class="brand pull-left">카테고리 관리</h1>
			<ul class="list-inline list-unstyled pull-right">
				<li><a class="btn btn-success" th:href="@{/category/createNewCategory}">생성하기</a></li>
			</ul>
		</header>
	</div>
	
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<table id="categoryTable" class="table table-striped table-hover">
				<thead>
					<tr class="info">
						<th>
							<h2 class="h4 text-center">NO</h2>
						</th>
						<th>
							<h2 class="h4 text-center">카테고리 명</h2>
						</th>
						<th>
							<h2 class="h4 text-center">챌린지 수</h2>
						</th>
					</tr>
				</thead>
				
				<tbody>
					<tr class="text-center" th:each="category: ${categoryList}">
					<td th:text="${category.categoryNo}">NO</td>
					<td th:text="${category.categoryNmEn}">Category Name</td>
					<td th:text="${category.challengeNum}">Challenge Num</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row text-center" th:if="${paging.totalPages > 0}">
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li th:each="i: ${#numbers.sequence(1, paging.totalPages)}" class="page-item" th:classappend="${paging.currentPageNum == i} ? 'active' : ''">
					<a th:text="${i}" class="page-link" th:href="@{'/category/showCategoryList/' + ${i}}"></a>
				</li>
			</ul>
		</nav>
	</div>
	
	<script type="text/javascript" src="../../jquery.js"></script>
	<script type="text/javascript">
		$(function() {
					
		});
	</script>
</body>
</html>