<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Category Detail Form</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}">
<style type="text/css">
.row {
	margin: 15px 0 0 0;
}

#categoryName input {
	width: 100%;
}

textarea {
	resize: none;
	padding: 10px;
}
</style>
</head>
<body>
	<div class="row">
		<header class="col-md-12">
			<h1 class="brand pull-left h3">Create a category</h1>
		</header>
	</div>
	
	<form method="post" th:action="${category.categoryNo == null ? '/goalkeepinmanager/category/processCagegoryCreation' : '/goalkeepinmanager/category/processCagegoryModification'}" th:object="${category}" id="saveCategory">
		<input type="hidden" th:field="*{categoryNo}" />
		<input type="hidden" th:field="*{categoryNmTransNo}" />
		<input type="hidden" th:field="*{categoryDescriptionTransNo}" />
		
		<section id="inputPart">
			<div class="row" id="categoryName">
				<div class="col-md-4">
					<h2 class="h5">Name of category (English)</h2>
					<input type="text" th:field="*{categoryNmEn}" placeholder="Please enter category" required="required">
				</div>
				<div class="col-md-4">
					<h2 class="h5">Name of category (Traditional)</h2>
					<input type="text" th:field="*{categoryNmTc}" placeholder="Please enter category" required="required">
				</div>
				<div class="col-md-4">
					<h2 class="h5">Name of category (Simplified)</h2>
					<input type="text" th:field="*{categoryNmSc}" placeholder="Please enter category" required="required">
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4">
					<h2 class="h5">Single line description (English)</h2>
					<textarea rows="5" style="width: 100%;" th:field="*{categoryDescriptionEn}" placeholder="Please enter details" required="required"></textarea>
				</div>
				<div class="col-md-4">
					<h2 class="h5">Single line description (Traditional)</h2>
					<textarea rows="5" style="width: 100%;" th:field="*{categoryDescriptionTc}" placeholder="Please enter details" required="required"></textarea>
				</div>
				<div class="col-md-4">
					<h2 class="h5">Single line description (Simplified)</h2>
					<textarea rows="5" style="width: 100%;" th:field="*{categoryDescriptionSc}" placeholder="Please enter details" required="required"></textarea>
				</div>
			</div>
		</section>
		
		<div class="row text-center" style="margin-top: 30px;">
			<input type="submit" value="Save" class="btn btn-primary" />
		</div>
	</form>
	
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript">
		$(function() {
			$('#categoryNmEn').focus();
			
			$('#saveCategory').submit(function(e) {
				return confirm('Are you sure to save the category?');
			});
		});
	</script>
</body>
</html>