<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Category Form</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<style type="text/css">
.row {
	margin: 15px 0 0 0;
}

#categoryName input {
	width: 100%;
}
</style>
</head>
<body>
	<div class="row">
		<header class="col-md-12">
			<h1 class="brand pull-left">카테고리 생성하기</h1>
		</header>
	</div>
	
	<form method="post" th:action="@{/category/processCagegoryCreation}" th:object="${category}">
		<div class="row" id="categoryName">
			<div class="col-md-4">
				<h2 class="h4">카테고리 명(영문)</h2>
				<input type="text" name="categoryNmEn" placeholder="내용을 입력해주세요" required="required">
			</div>
			<div class="col-md-4">
				<h2 class="h4">카테고리 명(번체)</h2>
				<input type="text" name="categoryNmTc" placeholder="내용을 입력해주세요" required="required">
			</div>
			<div class="col-md-4">
				<h2 class="h4">카테고리 명(간체)</h2>
				<input type="text" name="categoryNmSc" placeholder="내용을 입력해주세요" required="required">
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<h2 class="h4">카테고리 한줄 설명(영문)</h2>
				<textarea rows="5" style="width: 100%;" name="categoryDescriptionEn" placeholder="내용을 입력해주세요" required="required"></textarea>
			</div>
			<div class="col-md-4">
				<h2 class="h4">카테고리 한줄 설명(번체)</h2>
				<textarea rows="5" style="width: 100%;" name="categoryDescriptionTc" placeholder="내용을 입력해주세요" required="required"></textarea>
			</div>
			<div class="col-md-4">
				<h2 class="h4">카테고리 한줄 설명(간체)</h2>
				<textarea rows="5" style="width: 100%;" name="categoryDescriptionSc" placeholder="내용을 입력해주세요" required="required"></textarea>
			</div>
		</div>
		
		<div class="row text-center" style="margin-top: 30px;">
			<input type="submit" value="생성" class="btn btn-success" />
		</div>
	</form>
	
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript">
		$(function() {
					
		});
	</script>
</body>
</html>