<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Goal Keepin</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<style type="text/css">
.row {
	margin-left: 0;
	margin-right: 0;
}

.header {
	padding: 10px 16px;
	background: #555;
	color: #f1f1f1;
}

.highlight {
	font-weight: bolder;
	font-size: 1.1em;
}
</style>
<body>
	<div>
		<div class="row header" id="myHeader">
			<div class="col-md-12">
				<header class="col-md-5 navbar-header">
					<h1>펜타베이스 관리자 페이지</h1>
				</header>
				<div class="col-md-6">
						<div class="h3 pull-right">
							<span>누적 참여자:</span>
							<span th:text="*{homepageHeaderInfo.totalParicipantCount}"></span>
							<span style="margin-left: 30px;">누적 참가 금액:</span>
							<span th:text="*{homepageHeaderInfo.totalFeeAmount}"></span>
						</div>
					</div>
					<form th:action="@{/logout}" method="post">
						<input type="submit" value="Logout" class="btn btn-primary" style="margin-left: 30px; margin-top: 18px;">
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2" style="border-right: 3px solid lightgrey;" id="sideMenu">
				<div class="col-md-offset-2">
					<ul class="list-unstyled">
						<h2 class="h4">챌린지 관리</h2>
						<ul class="list-unstyled">
							<li><a th:href="@{/challenge/baseManagement/1}" target="menuFrame" class="highlight">- 챌린지 기본정보 관리</a></li>
							<li><a th:href="@{/challenge/showOperatedChallengeListByStatus/recruiting/1?hibitTypeCd=HT00}" target="menuFrame">- 모집중인 챌린지</a></li>
							<li><a th:href="@{/challenge/showOperatedChallengeListByStatus/ongoing/1?habitTypeCd=HT00}" target="menuFrame">- 진행중인 챌린지</a></li>
							<li><a th:href="@{/challenge/showOperatedChallengeListByStatus/expired/1?habitTypeCd=HT00}" target="menuFrame">- 완료된 챌린지</a></li>
						</ul>
						<h2 class="h4">카테고리 관리</h2>
						<ul class="list-unstyled">
							<li><a th:href="@{/category/showCategoryList/1}" target="menuFrame">- 카테고리 목록</a></li>
						</ul>
						<h2 class="h4">챌린지 제안</h2>
						<ul class="list-unstyled">
							<li><a th:href="@{/offer/showOfferList/1?offerStatusCd=VO00}" target="menuFrame">- 유저 제안 목록</a></li>
							<li><a th:href="@{/offer/createNewOfferForm}" target="menuFrame">- 제안 등록하기</a></li>
						</ul>
						<h2 class="h4">회원 목록</h2>
						<ul class="list-unstyled">
							<li><a th:href="@{/user/showUserList/sg/1}" target="menuFrame">- 싱가포르</a></li>
							<li><a th:href="@{/user/showUserList/hk/1}" target="menuFrame">- 홍콩</a></li>
						</ul>
						<h2 class="h4">출금 내역 관리</h2>
						<ul class="list-unstyled">
							<li><a th:href="@{/cashReport/showCashReportList/sg/1}" target="menuFrame">- 싱가포르</a></li>
							<li><a th:href="@{/cashReport/showCashReportList/hk/1}" target="menuFrame">- 홍콩</a></li>
						</ul>
						<h2 class="h4">키타</h2>
						<ul class="list-unstyled">
							<li><a th:href="@{/notice/showNoticeList/1}" target="menuFrame">- 공지사항</a></li>
							<li><a th:href="@{/inquiry/showInquiryList/1?inquiryStatusCd=IN00}" target="menuFrame">- 문의</a></li>
							<li><a href="#" target="menuFrame">- 통계</a></li>
							<li><a th:href="@{/rewardPayment/showRewardPaymentDetail}" target="menuFrame">- 리워드 지급</a></li>
							<li><a th:href="@{/pushNotification/showPushNotificationDetail}" target="menuFrame">- 푸시 전송</a></li>
							<li><a th:href="@{/popup/showPopupList/1}" target="menuFrame">- 팝업 설정</a></li>
						</ul>
					</ul>
				</div>
			</div>
			<div class="col-md-10">
				<!-- 
				<iframe id="menuFrame" name="menuFrame" src="/challenge/showOperatedChallengeList/1?baseNo=38" class="col-md-12" frameborder="no" style="width: 80vw; height: 85vh; position: relative;"></iframe>
		 -->
				<iframe id="menuFrame" name="menuFrame" th:src="@{/challenge/baseManagement/1}" class="col-md-12" frameborder="no" style="width: 80vw; height: 85vh; position: relative;"></iframe>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript">
		$(function() {
			$('#sideMenu a').click(function() {
				$('#sideMenu a').removeClass('highlight');
				$(this).addClass('highlight');
			});
		});		
	</script>
</body>
</html>