<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inquiry Detail</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/global.css}">
<style type="text/css">
.row {
	margin: 15px 0 0 0;
}

h2 + span, h2 + div {
	margin-left: 30px;
}

#offerTitle input {
	width: 100%;
}

textarea {
	resize: none;
}
</style>
</head>
<body>
	<div class="row">
		<header class="col-md-12">
			<h1 class="h3">Inquiry details</h1>
		</header>
	</div>
	
	<form method="post" th:action="@{/inquiry/processInquiryReply}" th:object=${inquiry} id="createInquiryReply">
		<input type="hidden" name="inquiryNo" th:field="*{inquiryNo}" />
		<input type="hidden" name="userNo" th:field="*{inquiryUser.userNo}" />
		
		<section id="inquiryPart">
			<div class="row">
				<div class="col-md-6">
					<h2 class="h5">User ID</h2>
					<span th:text="*{inquiryUser.userId}"></span>
				</div>
				<div class="col-md-6">
					<h2 class="h5">Registration Date</h2>
					<span th:text="*{#dates.format(inquiryRegDate, 'yyyy-MM-dd HH:mm:ss')}" style="margin-right: 30px;"></span>
					<span th:if="*{inquiryStatusCd == 'IN01'}" th:text="'Waiting'" class="btn btn-danger" style="cursor: default;"></span>
					<span th:if="*{inquiryStatusCd == 'IN02'}" th:text="'Answer completed'" class="btn btn-info" style="cursor: default;"></span>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-10">
					<h2 class="h5">Contents</h2>
					<div th:text="*{inquiryContentFull}"></div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-10">
					<h2 class="h5">Answer</h2>
					<div th:if="*{inquiryStatusCd == 'IN02'}" th:text="*{inquiryReplyCotent}"></div>
					<textarea id="inquiryReplyCotent" name="inquiryReplyCotent" th:if="*{inquiryStatusCd == 'IN01'}" rows="5" style="width: 100%" required="required"></textarea>
				</div>
			</div>
		</section>
		
		<div class="row" th:if="*{inquiryStatusCd == 'IN01'}">
			<div class="col-md-10">
				<input type="submit" value="Save" class="btn btn-primary pull-right">
			</div>
		</div>
	</form>
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript">
		$(function() {
			$('#inquiryReplyCotent').focus();
			
			$('#createInquiryReply').submit(function() {
				if(confirm('Are you sure to register this inquiry reply?')) {
					
					var parentWindow = window.parent; 
					var unprocessedInquiryCount = parentWindow.document.getElementById('unprocessedInquiryCount');
					var count = parseInt(unprocessedInquiryCount.innerText);
					
					if(count > 0) {
						unprocessedInquiryCount.innerText = (count - 1);
					}
					return true;
				} else {
					return false;
				}
			}); 
		});
	</script>
</body>
</html>