<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inquiry Detail</title>
<link rel="stylesheet" href="../../../bootstrap.css">
<style type="text/css">
.row {
	margin: 15px 0 0 0;
}

h2 + span, h2 + div {
	margin-left: 30px;
}

h2 + div {
	border: 2px solid grey;
	min-height: 80px;
	padding: 5px;
}

#offerTitle input {
	width: 100%;
}
</style>
</head>
<body>
	<div class="row">
		<header class="col-md-12">
			<h1>문의 상세</h1>
		</header>
	</div>
	
	<form method="post" th:action="@{/inquiry/processInquiryReply}" th:object=${inquiry}>
		<input type="hidden" name="inquiryNo" th:field="*{inquiryNo}" />
		
		<div class="row">
			<div class="col-md-6">
				<h2 class="h4">제목</h2>
				<span th:text="*{inquiryTitle}"></span>
			</div>
			<div class="col-md-6">
				<h2 class="h4">등록 일자</h2>
				<span th:text="*{#dates.format(inquiryRegDate, 'yyyy-MM-dd HH:mm:ss')}" style="margin-right: 30px;"></span>
				<span th:if="*{inquiryStatusCd == 'IN01'}" th:text="'대기중'" class="btn btn-danger" style="cursor: default;"></span>
				<span th:if="*{inquiryStatusCd == 'IN02'}" th:text="'답변 완료'" class="btn btn-info" style="cursor: default;"></span>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h2 class="h4">아이디</h2>
				<span th:text="*{inquiryUser.userId}"></span>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<h2 class="h4">내용</h2>
				<span th:text="*{inquiryContent}"></span>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10">
				<h2 class="h4">답변</h2>
				<div th:if="*{inquiryStatusCd == 'IN02'}" th:text="*{inquiryReplyCotent}"></div>
				<textarea name="inquiryReplyCotent" th:if="*{inquiryStatusCd == 'IN01'}" rows="5" style="width: 100%" required="required"></textarea>
			</div>
		</div>
		
		<div class="row" th:if="*{inquiryStatusCd == 'IN01'}">
			<div class="col-md-10">
				<input type="submit" value="저장" class="btn btn-success pull-right">
			</div>
		</div>
	</form>
	<script type="text/javascript" src="../../jquery.js"></script>
</body>
</html>