<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Badge Gift</title>
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<style type="text/css">
.row {
	margin: 15px 0 0 0;
}

input[type=text], input[type=number] {
	width: 200px;
}

table {
	border: 1px solid #ccc;
}

#sendTarget div {
	background-color: #cce6ff;
	margin: 5px;
	padding: 15px;
	border-radius: 20px;
}

#sendTarget div:hover {
	background-color: #dcdcdc;
	color: #fff;
}
</style>
</head>
<body style="background-color: rgb(245, 247, 250);">
	<div class="row">
		<header class="col-md-12">
			<h1 class="brand pull-left h3">Push notification</h1>
		</header>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<span id="searchArea">
				<span style="margin-right: 20px;">User ID</span>
				<input type="text" name="userId" id="userId" style="margin-right: 20px;" placeholder="Please enter user id to search">
			</span>
		</div>
	</div>
	
	<section id="resultArea">
		<div class="row">
			<div class="col-md-12">
				<h2 class="h5">Search Results</h2>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped table-hover" style="border-bottom: 1px solid grey;">
					<thead id="tableHead">
						<tr class="info">
							<th>
								<h2 class="h5 text-center">
									<input type="checkbox" id="selectAll">
								</h2>
							</th>
							<th>
								<h2 class="h5 text-center">NO</h2>
							</th>
							<th>
								<h2 class="h5 text-center sortable" id="userId">User ID</h2>
							</th>
							<th>
								<h2 class="h5 text-center sortable" id="nickName">Nickname</h2>
							</th>
							<th>
								<h2 class="h5 text-center sortable" id="loginTypeCd">Login Type</h2>
							</th>
							<th>
								<h2 class="h5 text-center sortable" id="userRegDate">Sign up Date</h2>
							</th>
						</tr>
					</thead>
					
					<tbody id="userData">
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row text-center">
			<nav aria-label="Page navigation" id="pagingArea">
				
			</nav>
		</div>
		
	</section>
	
	<div class="row">
		<div class="col-md-12">
			<a href="#" class="btn btn-primary" id="doSend">Send</a>
		</div>
	</div>
	
	<div class="row" id="sendMessageArea" style="margin-bottom: 30px;">
		<div class="col-md-12">
			<span class="h5">Send badge gift to:</span>
		</div>
		<div id="sendTarget">
		</div>
	</div>
	
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/js/userSearch.js}"></script>
	<script type="text/javascript">
	$(function() {
		$('#doSend').click(function() {
			
			var checkedUserCount = $('#sendTarget div').length;
			
			if(checkedUserCount == 0) {
				alert('Please select user to send badge gift.');
				return;
			}
			
			if(confirm('Are you sure to send the badge gift?')) {
				
				var userNos = [];
				$('#sendTarget div').each(function() {
					var userNo = $(this).attr('id').substring(5);
					userNos.push(userNo);
				});
				
				var token = $("meta[name='_csrf']").attr("content");
				var header = $("meta[name='_csrf_header']").attr("content");
				
				$.ajax({ url: '/goalkeepinmanager/badgeGift/sendingBadgeGift',  
					 data: {
						 userNos: userNos.join(',')
		 			 },  
					 method: "POST",  
					 dataType: "text", 
					 beforeSend : function(xhr) {
					    xhr.setRequestHeader(header, token);
						}
					 })
				 .done(function(json) { 
					 alert('Badge gift sent successfully.')
				 })
				 .fail(function() {
					 alert('Error sending badge gift.');
				 });
			}
		});
	});
	</script>
</body>
</html>