<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Create Popup Form</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<style type="text/css">
.row {
	margin: 15px 0 0 0;
}

#contentArea {
	display: none;
}

table {
	border: 1px solid #ccc;
}

#imgPreview {
	width: 150px;
	height: 150px;
	border: 2px solid black;
}

</style>
</head>
<body style="background-color: rgb(245, 247, 250);">
	<div class="row">
		<header class="col-md-12">
			<h1 class="brand pull-left h3">Create a new pop-up message</h1>
		</header>
	</div>
	
	<form method="post" th:action="@{/popup/processPopupCreation}" th:object="${popup}" enctype="multipart/form-data" id="createPopupForm">
		<div class="row">
			<div class="col-md-12">
				<div>
					<label class="col-md-1">Image</label>
				</div>
				<div class="col-md-11">
					<input type="file" th:field="*{popupImgUrl}" required="required" accept="image/jpeg,image/jpg,image/png">
					<img id="imgPreview" src="#" style="display: none; margin-top: 10px; margin-left: 100px;">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-1">
					<label>Type</label>
				</div>
				<div class="col-md-11">
					<select th:field="*{popupTypeCd}">
						<option value="PO00">Type</option>
						<option value="PO01">Notice</option>
						<option value="PO02">Challenge</option>
					</select>
				</div>
			</div>
		</div>
		
		<section id="contentArea">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-12">
						<label>Connected Content</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-11">
					<table id="popupContentTable" class="table table-striped table-hover">
						<thead>
							<tr class="info">
								<th>
								</th>
								<th>
									<h2 class="h5 text-center">NO</h2>
								</th>
								<th>
									<h2 class="h5 text-center">Title</h2>
								</th>
								<th>
									<h2 class="h5 text-center">Registration Date</h2>
								</th>
							</tr>
						</thead>
						<tbody id="contentData"></tbody>
					</table>
				</div>
			</div>
			
			<div class="row text-center">
				<div class="col-md-11">
					<nav aria-label="Page navigation" id="pagingArea">
						
					</nav>
				</div>
			</div>
			
			<input type="hidden" name="popupTargetNo" id="popupTargetNo">
			<div class="row text-center" style="margin-top: 30px;">
				<div class="col-md-11">
					<input type="submit" value="Create" class="btn btn-primary" id="createPopup" />
				</div>
			</div>
		</section>
	</form>
	
	<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
	<script type="text/javascript">
		$(function() {
			
			//팝업 이미지 사이즈 제한
			 $('#popupImgUrl').change(function() {
				 if(this.files[0].size > 1048576){
				        alert("Popup image can't be larger than 1MB.");
				        this.value = "";
				        $('#imgPreview').hide();
			     } else {
				     readURL(this);
			     }
			     
			 });
			
			 function readURL(input) {
	            if (input.files && input.files[0]) {
		            var reader = new FileReader();
		            reader.onload = function (e) {
	                    $('#imgPreview').attr('src', e.target.result).show();
	                }
	                reader.readAsDataURL(input.files[0]);
	            }
	         }
			
			$('#popupTypeCd').change(function() {
				var selectedType = $(this).val();
				
				if('PO01' == selectedType) {
					$('#contentData').empty();
					$('#pagingArea').empty();
					$('#contentArea').show();
					
					var getUrl = '/goalkeepinmanager/popup/getNoticeList/';
					$.getJSON(getUrl + 1,
						function(data) {
							processTableData(data);
							processPagination(data, getUrl);
							processTableNo();
					});
					
				} else if ('PO02' == selectedType) {
					$('#contentData').empty();
					$('#pagingArea').empty();
					$('#contentArea').show();
					
					var getUrl = '/goalkeepinmanager/popup/getChallengeList/';
					$.getJSON(getUrl + 1,
						function(data) {
							processTableData(data);
							processPagination(data, getUrl);
							processTableNo();
					});
					
				} else {
					$('#contentArea').hide();
				}
			});
			
			function processTableData(data) {
				$('#contentData').empty();
				var contentList = data.page.pageData;
				var contentData = '';
				
				if(contentList.length > 0) {
					for(var i=0; i < contentList.length; i++) {
						contentData += '<tr class="text-center" ';
						contentData += 'id="' + contentList[i].contentNo + '">';
						contentData += '<td>';
						contentData += '<input type="checkbox">';
						contentData += '</td>';
						contentData += '<td>';
						contentData += contentList[i].contentNo;
						contentData += '</td>';
						contentData += '<td>';
						contentData += contentList[i].contentTitleEn;
						contentData += '</td>';
						contentData += '<td>';
						contentData += contentList[i].contentRegDate;
						contentData += '</td>';
						contentData += '</tr>';
					}
				} else {
					contentData += '<tr class="text-center">';
					contentData += '<td colspan="4">No Data Found</td>';
					contentData += '</tr>';
				}
				
				$('#contentData').append(contentData);
				
				$('#popupContentTable tbody tr').css('cursor', 'pointer')
				.click(function() {
					var checkbox = $(this).find('input');
					var isChecked = checkbox.prop('checked');
					checkbox.prop('checked', !isChecked);
					
					if(!isChecked) {
						$(this).siblings().find('input').prop('checked', false);
						$('#popupTargetNo').val($(this).attr('id'));
					}
				});
				
				$('#popupContentTable input').click(function(e) {
					e.stopPropagation();
					
					if($(this).prop('checked')) {
						$(this).parents('tr').siblings().find('input').prop('checked', false);					
						$('#popupTargetNo').val($(this).parents('tr').attr('id'));
					}
				});
			}
			
			function processPagination(data, getUrl) {
				$('#pagingArea').empty();
				var currentPageNum = data.page.pageNum;
				var totalPageNum = data.page.totalPageNum;
				
				if(totalPageNum > 0) {
					var pagination = '<ul class="pagination" id="pagination">';
					
					if(totalPageNum > 10 && currentPageNum == 1) {
						pagination += '<li class="page-item"><a class="page-link">&lt;&lt;</a></li>';
					}
					
					if(totalPageNum > 10 && currentPageNum > 1) {
						pagination += '<li class="page-item">';
						pagination += '<a style="cursor: pointer" class="page-link" ';
						pagination += 'id="page-1">'
						pagination += '&lt;&lt;</a></li>';
					}
					
					if(currentPageNum == 1) {
						pagination += '<li class="page-item"><a class="page-link">&lt;</a></li>';
					}
					
					if(currentPageNum > 1) {
						pagination += '<li class="page-item">';
						pagination += '<a style="cursor: pointer" class="page-link" ';
						pagination += 'id="page-' + (currentPageNum - 1) + '">'
						pagination += '&lt;</a></li>';
					}
					
					for(var i=data.page.firstPageNum; i<=data.page.lastPageNum; i++) {
						pagination += '<li class="page-item page-no';
						if(data.page.pageNum == i) {
							pagination += ' active';
						}
						pagination += '">';
						pagination += '<a style="cursor: pointer" class="page-link"';
						pagination += ' id="page-' + i + '"';
						pagination += '>';
						pagination += i;
						pagination += '</a>';
						pagination += '</li>';
					}
					
					if(currentPageNum == totalPageNum) {
						pagination += '<li class="page-item"><a class="page-link">&gt;</a></li>';
					}
					
					if(currentPageNum < totalPageNum) {
						pagination += '<li class="page-item">';
						pagination += '<a style="cursor: pointer" class="page-link" ';
						pagination += 'id="page-' + (currentPageNum + 1) + '">'
						pagination += '&gt;</a></li>';
					}
					
					if(totalPageNum > 10 && currentPageNum == totalPageNum) {
						pagination += '<li class="page-item"><a class="page-link">&gt;&gt;</a></li>';
					}
					
					if(totalPageNum > 10 && currentPageNum < totalPageNum) {
						pagination += '<li class="page-item">';
						pagination += '<a style="cursor: pointer" class="page-link" ';
						pagination += 'id="page-' + totalPageNum + '">'
						pagination += '&gt;&gt;</a></li>';
					}
					
					pagination += '</ul>';
					
					$('#pagingArea').append(pagination);
					
					$('.pagination a[id]').click(function() {
						
						var id = $(this).attr('id');
						// id: page-xxx
						var pageNum = id.substring(5);
						$.getJSON(getUrl + pageNum,
							function(data) {
								processTableData(data);
								processPagination(data, getUrl);
								processTableNo();
							}
						);
					});
				}
			}
			
			function processTableNo() {
				var noIndex = $('.table thead th').index($('.table thead th:contains("NO")'));
				var pageNum = parseInt($('#pagination li.active a').text());
				
				$('.table tbody tr td:nth-child(' + (noIndex + 1) + ')').each(function(index, item) {
					$(item).text((pageNum - 1) * 5 + (index+1));
				});
			}
			
			$('#createPopup').click(function(e) {
				
				var checkedContentCount = $('#popupContentTable input:checked').length;
				
				if(checkedContentCount == 0) {
					alert('Please select a connected content.');
					e.preventDefault();
				}
			});
			
			$('#createPopupForm').submit(function() {
				return confirm('Are you sure to create a popup?');
			});
		});
	</script>
</body>
</html>